@import '../../vendor/styles/variables.css';

.sdb {
  padding: 12px 16px;

  &__cont {
    margin: 0;
    padding: 8px;
    background-color: var(--color-selago);
    border-radius: 2px;
    border: 0.5px solid var(--color-link);
  }

  &__title {
    display: flex;
    align-items: center;

    &__icon {
      font-size: 18px;

      @media (--medium-screen) {
        font-size: 21px;
      }
    }

    &__text {
      color: var(--color-governor-bay);
      margin-left: 8px;
      font-size: 12px;

      @media (--medium-screen) {
        margin-left: 8px;
        font-size: 14px;
      }
    }
  }

  &__btn {
    background-color: var(--color-governor-bay);
    border-radius: 2px;
    height: 32px;
    padding: 8px;

    @media (--medium-screen) {
      height: 32px;
    }

    &__text {
      color: #fff;
    }
  }

  &--border {
    border-bottom: 1px solid var(--color-quaternary);
  }
}
