@import '../../../vendor/styles/variables.css';

.ssrp__cs {
  &__description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__description {
    padding: 4px 16px 0;
    margin: 0;
  }
}
