@import '../../../vendor/styles/variables.css';

.DateRangePicker {
  width: 100%;

  &__picker {
    top: 56px;
    width: 100%;
    height: 575px;
    will-change: transform;
  }
}

.DateRangePickerInput {
  border: none;
  text-align: center;
  display: block;

  &__arrow {
    width: 5%;
  }

  & .DateInput {
    width: 47.5%;
    padding: 0;

    &--with-caret {
      &::before,
      &::after {
        display: none;
      }
    }

    &__display-text {
      font-size: 1.8rem;
      padding: 8px 0;
      color: var(--color-quaternary);
      border-bottom: 1px solid var(--color-quaternary);
      text-align: left;

      &--has-input {
        color: var(--color-secondary);
        font-weight: 500;
      }

      &--focused {
        background: #fff;
        color: var(--color-secondary);
        border-color: var(--color-primary);
        border-radius: 0;
      }
    }
  }
}

.DayPickerNavigation {
  height: 48px;
  box-shadow: none;

  &__next {
    border: 1px solid var(--color-quinary) !important;
    border-width: 1px 0 0 !important;
    color: var(--color-secondary);
    background: transparent;
    padding: 0;
  }
}

.DayPicker {
  &__week-header {
    padding-bottom: 16px;
    font-size: 1.6rem;
    font-weight: 500;
  }

  & .transition-container {
    padding-top: 36px;
  }
}

.CalendarMonth {
  &__caption {
    color: var(--color-secondary);
    font-size: 1.6rem;
    padding: 4px 0;
    margin: 8px 0 0;
  }
}

.CalendarDay {
  border: 0;

  &--selected-span,
  &--valid&--hovered-span,
  &--selected-start,
  &--selected-start:active,
  &--selected-end,
  &--after-hovered-start,
  &--valid&--hovered {
    background: var(--color-primary);
    color: #fff;
  }

  &__button {
    &:active {
      background: var(--color-primary);
      color: #fff;
    }
  }
}
