@import '../../vendor/styles/variables.css';

.rar {
  padding: 16px 16px 0;
  border-top: 1px solid var(--color-quaternary);
  border-bottom: 1px solid var(--color-quaternary);

  &__header {
    margin: 8px 0 16px;

    &__title {
      color: var(--color-secondary);
      font-weight: 400;
      margin-bottom: 0;
    }
  }

  &__user-review {
    margin-bottom: -16px;
  }

  &__container {
    padding-bottom: 32px;
  }

  &__section {
    padding: 16px;
    border-bottom: 1px solid var(--color-quaternary);

    &__heading {
      margin-bottom: 8px;
      color: var(--color-secondary);
    }
  }

  &__ta-logo {
    height: 14px;
    margin-left: 4px;
  }

  &__read-all {
    display: flex;
    align-items: center;
    padding: 0 0 12px;
  }
}

.rar-or {
  &__header {
    padding: 16px 0 8px;

    &__rating {
      font-size: 2.8rem;
      font-weight: 500;

      &--light {
        font-weight: 300;
      }
    }
  }

  &__subratings {
    margin-top: 16px;
  }

  &__subrating-item {
    margin-top: 16px;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__bar {
    height: 5px;
    background-color: var(--color-quaternary);

    &__fill {
      height: 5px;
      background-color: var(--color-primary);
    }
  }
}

.rar-ar {
  &__rating {
    margin: 16px 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__rating-image {
    display: flex;
    justify-content: flex-end;
  }
}
