@import '../../vendor/styles/variables.css';

.rp {
  border: solid 1px var(--color-quinary);
  padding: 1.6rem;

  &__tag {
    display: block;
    margin-bottom: 1rem;
  }

  &--selected {
    background-color: rgba(218, 251, 231, 0.57);
  }

  &__price-details {
    padding-left: 2.4rem;
    color: var(--color-secondary);
    font-size: 1.4rem;

    &__selling-price {
      font-size: 2.4rem;
      font-weight: 500;
    }

    &__discount-percentage {
      margin-left: 0.8rem;
      font-weight: 400;
      color: var(--color-primary);
    }

    &__taxes {
      padding-top: 0.8rem;
      color: var(--color-tertiary);
    }
  }

  &__toc {
    padding-top: 1.4rem;

    &--conditions {
      margin-top: 1.2rem;
    }

    &--green-check {
      color: var(--color-primary);
    }

    &-text {
      margin-left: 0.4rem;
    }
  }

  &__book-option {
    margin-top: 2.4rem;
    text-align: right;

    &--button {
      width: 18.4rem;
      height: 3.8rem;
    }

    &--radio {
      display: inline-block !important;
      transform: scale(1.6);
      margin-top: 1.2rem;
    }
  }
}
