@import '../../vendor/styles/variables.css';

.footer {
  background-color: var(--color-secondary);
  color: var(--color-quinary);
  padding: 5rem 0;
  background-size: 5rem;

  /* &__refer {
    margin-bottom: 8.8rem;

    &__title {
      color: var(--color-quinary);
      margin-bottom: 1.6rem;
      font-size: 3rem;
    }

    &__text {
      color: var(--color-quinary);
      line-height: 1.4;
    }
  } */

  &__links {
    display: flex;
    justify-content: space-between;

    &__title {
      color: var(--color-quinary);
      margin-bottom: 1.6rem;
    }

    &__list {
      opacity: 0.7;
      color: #fff;

      & li {
        margin: 2rem 0;
      }
    }
  }

  &__social-icon {
    margin-right: 0.8rem;
    position: relative;
    top: 0.1rem;
    width: 1.8rem;
    display: inline-block;
    font-size: 1.4rem;
  }
}
