@import '../../vendor/styles/variables.css';

.loader {
  position: absolute;
  background-color: #fff;
  padding: 24rem;
  transform: translate(-50%, -50%);

  &__body {
    display: flex;
    align-items: center;
    color: var(--color-tertiary);
    margin-top: 16px;
    padding-left: 1rem;
    text-align: center;

    &__text {
      margin-left: 1.2rem;
    }
  }

  &__circle {
    animation: spin 600ms infinite linear;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid var(--color-primary-light);
    border-right-color: var(--color-primary);
    display: inline-block;
  }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
