@import '../../vendor/styles/variables.css';

.modify {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &__button {
    height: 3.3rem;
    line-height: 3.3rem;
    padding: 0 1.6rem;
    font-size: 1.2rem;
  }

  & .search-widget {
    box-shadow: var(--shadow-primary);
  }
}
