@import '../../../vendor/styles/variables.css';

.aa {
  padding: 0 16px 12px;
  border-bottom: 1px solid var(--color-quaternary);

  &__title {
    color: var(--color-secondary);
    margin-bottom: 16px;
    font-weight: 400;
  }

  &__icon {
    font-size: 2.4rem;
    color: var(--color-secondary);
  }

  &__name {
    margin: 8px 0 0;
  }
}
