@import '../../vendor/styles/variables.css';

.footer {
  background: var(--color-quinary);

  &__container {
    padding: 16px;
  }

  &__copyright {
    margin: 24px 0 16px;
  }
}

.footer-link {
  &__list {
    padding: 0 16px 12px;
  }

  &__item {
    padding: 6px 0;
  }

  &__text {
    margin-bottom: 0;
  }
}
