@import '../../vendor/styles/variables.css';

.coupon {
  background: #fff;
  color: var(--color-secondary);
  width: 587px;

  &__header {
    margin: 12px;
    padding: 12px;
    position: relative;
    text-align: center;
  }

  &__body {
    padding: 0 80px 32px;
  }

  &__close {
    color: var(--color-tertiary);
    position: absolute;
    top: 0;
    right: 0;
  }

  &__form {
    display: flex;
    align-items: stretch;
    height: 48px;
  }

  &__input {
    width: 75%;
    padding: 0 0.8rem;
    border-right-width: 0;
  }

  &__button {
    font-size: 1.4rem;
    width: 25%;
    border-radius: 0;
    box-shadow: none;
    height: 100%;

    &--disabled {
      background: var(--color-tertiary);
    }

    &--loading {
      background: var(--color-primary-dark);
    }
  }

  &__error {
    font-size: 12px;
    margin-top: 4px;
  }

  &__applicable {
    margin-top: 16px;
  }

  &__subtitle {
    color: var(--color-secondary);
    margin-bottom: 8px;
  }

  &__list {
    height: 250px;
    overflow: auto;
  }

  &__list-item {
    padding: 16px 40px;
    background: var(--color-quinary);
    cursor: pointer;
    border: 1px solid transparent;
    position: relative;
    margin-bottom: 4px;

    &--active {
      border-color: var(--color-primary);
      background-color: var(--color-primary-light);
      pointer-events: none;
    }
  }

  &__radio {
    position: absolute;
    left: 16px;
    top: 24px;
  }

  &__details {
    display: flex;
    align-items: center;
    color: var(--color-secondary);
  }

  &__code {
    padding: 8px 16px;
    color: var(--color-primary);
    background: #fff;
    border: 1px dotted var(--color-primary);
    border-radius: 2px;
    margin-right: 12px;
  }

  &__amt {
    color: var(--color-primary);
  }

  &__description {
    margin: 4px 0 0;
  }
}
