@import '../../../vendor/styles/variables.css';

.ssh {
  border-radius: 2px;
  background-color: #fff;

  &__q-container {
    padding: 16px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-quaternary);
  }

  &__search-icon {
    margin-right: 8px;
    color: var(--color-tertiary);
  }

  &__q {
    margin-bottom: 0;
    color: var(--color-secondary);
    font-weight: 400;
  }

  &__info-container {
    padding: 8px 16px;
  }

  &__info {
    border-right: 1px solid var(--color-quaternary);

    &:last-child {
      border-right: none;
    }
  }

  &__info-header {
    text-transform: uppercase;
    font-weight: 300;
  }

  &__info-content {
    font-weight: 300;
    color: var(--color-tertiary);
  }
}
