// Foundation for Emails Settings
// ------------------------------

// Table of Contents:

// 1. Global
// 2. Grid
// 3. Block Grid
// 4. Typography
// 5. Button
// 6. Callout
// 7. Menu
// 8. Thumbnail


// 1. Global
// ---------
$deep-red: #b90000;
$grey-dark: #727171;
$grey-darker: #4a4a4a;
$text-color2: #212121;
$text-color3: #9b9b9b;
$treebo-color: #0eb550;
$primary-color: #3cb878;
$secondary-color: #747474;
$tertiary-color: #B6B6B1;
$success-color: #3adb76;
$warning-color: #ffae00;
$alert-color: #ec5840;
$light-gray: #f3f3f3;
$light-dark-gray: #4B4B4B;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
$white: #ffffff;
$global-width: 580px;
$global-width-small: 100%;
$global-gutter: 20px;
$body-background: $white;
$container-background: $white;
$global-font-color: $black;
$body-font-family: 'Roboto', Helvetica, Arial, sans-serif;
$global-padding: 20px;
$global-margin: 16px;
$global-radius: 3px;
$global-rounded: 500px;
$global-breakpoint: $global-width + $global-gutter;

// 2. Grid
// -------

$grid-column-count: 12;
$column-padding-bottom: $global-padding;

// 3. Block Grid
// -------------

$block-grid-max: 8;
$block-grid-gutter: $global-gutter;

// 4. Typography
// -------------

$global-font-weight: normal;
$header-color: inherit;
$global-line-height: 1.3;
$global-font-size: 14px;
$body-line-height: 19px;
$header-font-family: $body-font-family;
$header-font-weight: $global-font-weight;
$h1-font-size: 34px;
$h2-font-size: 30px;
$h3-font-size: 28px;
$h4-font-size: 24px;
$h5-font-size: 20px;
$h6-font-size: 18px;
$h7-font-size: 16px;
$h8-font-size: 14px;
$h9-font-size: 12px;
$header-margin-bottom: 10px;
$paragraph-margin-bottom: 10px;
$small-font-size: 80%;
$small-font-color: $light-gray;
$lead-font-size: $global-font-size * 1.25;
$lead-line-height: 1.6;
$text-padding: 10px;
$subheader-lineheight: 1.4;
$subheader-color: $dark-gray;
$subheader-font-weight: $global-font-weight;
$subheader-margin-top: 4px;
$subheader-margin-bottom: 8px;
$hr-width: $global-width;
$hr-border: 1px solid $medium-gray;
$hr-margin: 20px auto;
$anchor-text-decoration: none;
$anchor-color: #4a90e2;
$anchor-color-visited: $anchor-color;
$anchor-color-hover: darken($anchor-color, 10%);
$anchor-color-active: $anchor-color-hover;
$stat-font-size: 40px;

// 5. Button
// ---------

$button-padding: (
 tiny: 4px 8px 4px 8px,
 small: 5px 10px 5px 10px,
 default: 12px 24px 12px 24px,
 large: 10px 20px 10px 20px,
);
$button-font-size: (
 tiny: 10px,
 small: 12px,
 default: 14px,
 large: 20px,
);
$button-color: $white;
$button-color-alt: $medium-gray;
$button-font-weight: bold;
$button-margin: 0 0 $global-margin 0;
$button-background: $treebo-color;
$button-border: 2px solid $button-background;
$button-radius: $global-radius;
$button-rounded: $global-rounded;

// 6. Callout
// ----------

$callout-background: $white;
$callout-background-fade: 85%;
$callout-padding: 10px;
$callout-margin-bottom: $global-margin;
$callout-border: 1px solid darken($callout-background, 20%);
$callout-border-secondary: 1px solid darken($secondary-color, 20%);
$callout-border-success: 1px solid darken($success-color, 20%);
$callout-border-warning: 1px solid darken($warning-color, 20%);
$callout-border-alert: 1px solid darken($alert-color, 20%);

// 7. Menu
// -------

$menu-item-padding: 10px;
$menu-item-gutter: 10px;
$menu-item-color: $treebo-color;

// 8. Thumbnail
// ------------

$thumbnail-border: solid 4px $white;
$thumbnail-margin-bottom: $global-margin;
$thumbnail-shadow: 0 0 0 1px rgba($black, 0.2);
$thumbnail-shadow-hover: 0 0 6px 1px rgba($treebo-color, 0.5);
$thumbnail-transition: box-shadow 200ms ease-out;
$thumbnail-radius: $global-radius;
