@import 'settings';
@import 'foundation-emails';

@import 'checkout_feedback';
@import 'jcr';



// global
.body {
  margin-top: 20px !important;
  @media only screen and (max-width: #{$global-breakpoint}) {
    margin-top: 0 !important;
  }
}

.primary {
  background-color: $primary-color;
}

.text-primary {
  color: $primary-color;
}

.secondary {
  background-color: $secondary-color;
}

.text-secondary {
  color: $secondary-color;
}

.text-small {
  font-size: 12px;
}

.container {
  background: #fafafa !important;
  border: 2px solid $light-gray;
}

.section ~ .spacer {
  width: 100%;
  background-color: #fafafa;
}

.row {
  &--no-padding-bottom {
    .columns {
      padding-bottom: 0;
    }
  }
}

.header {
  color: $grey-darker;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 21px;
}

.section {
  background-color: $white !important;
}

.collapse {
  &--sides {
    @extend .collapse;
  }
  &--bottom {
    .columns {
      padding-bottom: 0;
    }
  }
  &--full {
    @extend .collapse;
    .columns {
      padding-bottom: 0;
    }
  }
}

a {
  text-decoration: underline;
}
