.checkout-feedback {
  background-color: $light-gray;

  &__logo {
    height: 36px;
    margin: 15px 5px;
  }

  &__content {
    background-color: $white;
  }

  &__greet {
    font-size: $h8-font-size;
    color: $grey-darker;
  }

  &__query {
    font-size: $h5-font-size;
    line-height: $global-line-height;
    color: $text-color2;
  }

  &__response {
    font-size: $h9-font-size;
    color: $medium-gray;
  }

  &__stay-details {
    font-size: $h8-font-size;
    line-height: $global-line-height;
    color: $grey-dark;
  }

  &__line {
    height: 1px;
    width: 90%;
    margin: 0 auto;
  }

  &__hotel-name {
    font-size: $h6-font-size;
    line-height: $global-line-height;
    color: $grey-darker;
  }

  &__stay-detail {
    background: $white;
  }

  &__hotel-address {
    font-size: $h8-font-size;
    line-height: $global-line-height;
    color: $grey-dark;
  }

  &__room-title {
    font-size: 16px;
    line-height: $global-line-height;
    color: $grey-darker;
  }

  &__room-detail {
    font-size: $h8-font-size;
    color: $light-dark-gray;
  }

  &__building {
    background-repeat: repeat no-repeat;
    height: 90px;
  }

  &__contact {
    font-size: $h9-font-size;
    color: $light-dark-gray;
  }

  &__email {
    color: $success-color;
  }

  &__unsubscribe, &__unsubscribe:visited {
    color: $light-dark-gray;
  }
  &__download {
    font-size: $h9-font-size;
    text-align: center;
    color: $dark-gray;
  }
  &__zig-zag-hr {
    transform: rotate(180deg);
    background: $white;
  }

  &__expression-emoji-img{
    padding: 0 !important;
  }

  &__emoji-img {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}
