.jcr {
  background: $white;

  &__treebo-heading-data {
    color: $medium-gray;
    font-size: 12px;
  }

  &__greet {
    font-size: 18px;
  }

  &__query {
    color: $grey-darker;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.5;
  }

  &__query-detail {
    color: $text-color2;
    font-size: 14px!important;
    line-height: 1.4;
  }

  &__ta-review-img {
    height: 20px !important;
    display: inline;
  }

  &__msg-content {
    padding: 20px 0px;
  }

  &__msg-container {
    background-color: $light-gray;
    border: 1px solid $medium-gray;
    margin: 0 20px;
    width: 92% !important;
    padding: 5px !important;
  }

  &__circle {
    border: 2px solid $black;
    border-radius: 15px;
    display: inline-block;
    height: 15px;
    width: 15px;
  }

  &__reveiw-btn {
    background: $treebo-color;
    border: 1px solid $treebo-color;
    border-radius: 3px;
    color: $white !important;
    text-align: center;
    text-transform: uppercase;
    padding: 12px 20px;
  }

  &__msg-img {
    margin: 0 auto;
  }

  &__msg {
    color:  $grey-darker;
    font-size: 12px;
    text-align: center;
    padding-top: 8px;
  }

  &__hotel-name {
    color: $grey-dark;
    font-size: 20px;
    font-weight: 600;
  }

  &__building {
    background-repeat: repeat no-repeat;
    height: 50px;
    background-size: 100%;
  }

  &__contact {
    color: $text-color2;
    font-size: 14px;
  }

  &__email {
    color: $treebo-color;
  }

  &__download {
    color: $dark-gray;
    font-size: 14px;
    text-align: center;
  }
}
