@import '../../vendor/styles/variables.css';

.accordion {
  padding: 0 16px;

  &__section {
    border-bottom: 1px solid var(--color-quaternary);
  }

  &__title {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    align-items: center;
  }

  &__icon {
    display: block;
    float: right;
    color: var(--color-primary);
    transition: transform 375ms;
    height: 100%;
  }
}

.animation-rotate {
  transform: rotate(180deg);
}
