@import '../../vendor/styles/variables.css';

.nyrt {
  padding: 0.8rem;
  display: flex;
  align-items: center;
  border-radius: 0.2rem;
  margin-right: 0.8rem;
  border: solid 0.1rem var(--color-error);
  background-color: var(--color-error-light);
  width: 100%;

  &__img {
    height: 2.4rem;
    width: 2.4rem;
    margin-right: 1.2rem;
  }

  &__txt {
    margin: 0;
    line-height: 1.5;
    color: var(--color-secondary);
  }
}
