@import '../../vendor/styles/variables.css';

.sh {
  height: 56px;
  display: flex;
  flex: 0 1 auto;
  border-bottom: 1px solid var(--color-quaternary);

  &__back,
  &__search,
  &__search__content,
  &__search__icon {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    justify-content: center;
  }

  &__back {
    flex: 0 0 52px;
    width: 52px;
  }

  &__search {
    flex: 1 1 auto;
    padding-right: 16px;

    &__content {
      flex-basis: 92%;
      width: 92%;
      flex-direction: column;
      align-items: stretch;
    }

    &__icon {
      flex-basis: 8%;
      width: 8%;
      color: var(--color-secondary);
    }
  }

  &__q {
    margin-bottom: 4px;
  }

  &__info {
    margin: 0;
  }
}
