@import '../../../vendor/styles/variables.css';

.overall-ratings {
  border-right: 0.1rem solid var(--color-quinary);
  padding-right: 1rem;

  &__header {
    color: var(--color-secondary);
    padding-bottom: 1.6rem;
  }

  &__rating {
    font-size: 3.2rem;
    font-weight: 400;
    margin: 0.8rem 0;

    &--bold {
      font-weight: 600;
    }
  }

  &__rating-item {
    font-size: 1.2rem;
    padding-bottom: 0.8rem;
  }
}
