@import '../../../vendor/styles/variables.css';

.amenities-ratings {
  padding-left: 6rem;

  &__header {
    color: var(--color-secondary);
    padding-bottom: 1.6rem;
  }

  &__item {
    line-height: 2.8rem;
  }
}
