@import '../../../vendor/styles/variables.css';

.bhcp {
  padding: 3.2rem 0;
  margin-top: 0;
  border-bottom: 0.1rem solid var(--color-quinary);
  box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.16);
  background: white;
  border-radius: 0.2rem;

  &__booking-details {
    padding: 2rem 0;
    border-bottom: 0.1rem solid var(--color-quinary);

    &__hotel-address {
      padding: 0.4rem 0 1.6rem;
    }

    &__stay-date {
      color: var(--color-secondary);
    }

    &__pay-mode {
      padding: 0.4rem 0;
      color: var(--color-primary);
    }
  }

  &__reasons {
    padding: 3.2rem 0;

    &__section {
      padding: 2.4rem 0 1.2rem;
    }

    &__input {
      padding: 0.2rem 0;
      display: flex;
    }

    &__message {
      flex-basis: 50%;
      height: 4rem !important;
      border-radius: 0.2rem;
      padding: 0.5rem;
      margin-top: 1rem;
      color: var(--color-tertiary);
    }

    &__btn {
      margin-top: 1rem;
    }
  }

  &__policy {
    padding-left: 4rem;
  }
}

.bhcp-cancellation-status {
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &__result {
    text-align: center;
  }

  &__message {
    padding: 4rem 0;
    text-transform: uppercase;
    color: var(--color-secondary);
    font-weight: 600;
  }

  &__details {
    &__hotel {
      color: var(--color-secondary);
      padding-bottom: 0.4rem;
    }

    &__hotel-address {
      padding-bottom: 1.6rem;
    }
  }

  &__btn {
    padding-top: 3.6rem;
  }
}

.bhcp-wait-page {
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &__message {
    font-size: 2rem;
  }
}
