@import '../../vendor/styles/variables.css';

.seo-linksfooter {
  background-color: #fff;
  padding-top: 2rem;

  &__content {
    background: white;
    border-top: 0.2rem solid var(--color-quinary);
    padding: 2.4rem;
  }

  &__filters-list {
    display: flex;
  }

  &__filters-item {
    text-transform: capitalize;
    flex-basis: 20%;
    padding: 1.2rem 0;
    border-bottom: 0.2rem solid transparent;
    cursor: pointer;
    text-align: center;
    color: var(--color-tertiary);
    position: relative;
    top: 0.2rem;
    font-weight: 600;
    font-size: 1.6rem;

    &--active {
      color: var(--color-secondary);
      border-bottom-color: var(--color-secondary);
      letter-spacing: 0;
    }

    &:hover {
      color: var(--color-secondary);
    }
  }

  &__list {
    margin: 0 4.8rem;
  }

  &__list-item {
    color: var(--color-secondary);
    margin: 0.6rem 0;
    text-transform: capitalize;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.seo-footer {
  background-color: var(--color-quaternary);
  padding: 5rem 0;

  &__copyright {
    margin-bottom: 1.6rem;
  }

  &__title {
    font-size: 1.6rem;
    margin-top: 1.6rem;
    text-transform: uppercase;
  }

  &__text {
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 0.8rem 0;
  }

  &__cities {
    display: flex;
    flex-wrap: wrap;
  }

  &__logo {
    margin-top: 1.6rem;
    display: inline-block;

    &__image {
      width: 16rem;
    }
  }

  &__link {
    margin-right: 0.4rem;

    &::after {
      content: ',';
    }

    &:last-child {
      &::after {
        content: '';
      }
    }
  }
}
