@import '../../vendor/styles/variables.css';

.cities-page {
  padding: 1.6rem 0 3.2rem;

  &__search {
    margin-bottom: 1.6rem;
    box-shadow: var(--shadow-primary);
  }

  &__container {
    background-color: #fff;
    padding: 4.8rem 12.8rem;
    box-shadow: var(--shadow-primary);
  }

  &__title {
    color: var(--color-primary);
    text-align: center;
    margin-bottom: 3.2rem;
  }

  &__list {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
  }

  &__list-item {
    color: var(--color-secondary);
    margin: 1.6rem 0;
    text-transform: uppercase;
  }
}
