@import '../../../vendor/styles/variables.css';

.rc {
  padding: 24px 0 48px;

  &__add-room,
  &__remove-room {
    color: var(--color-link);
    padding: 8px 0;
  }

  &__add-room {
    display: flex;
    align-items: center;

    &__icon {
      margin-right: 8px;
    }
  }
}

.room {
  margin-bottom: 36px;

  &__number {
    color: var(--color-secondary);
    font-weight: 500;
    margin-bottom: 16px;
  }

  &__guest {
    margin-bottom: 24px;
  }

  &__modify {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__guest-type {
    color: var(--color-secondary);
    margin: 0;

    &--info {
      color: var(--color-tertiary);
    }
  }

  &__adults-count,
  &__kids-count {
    color: var(--color-primary);

    &--disabled {
      color: var(--color-tertiary);
    }
  }

  &__sign {
    font-size: 2.6rem;
    color: var(--color-secondary);
    display: inline-flex;

    @media (--medium-screen) {
      font-size: 3.2rem;
    }

    &--disabled {
      color: var(--color-quaternary);
    }
  }
}
