@import '../../vendor/styles/variables.css';

.ss {
  position: relative;
  margin-bottom: 16px;

  &__tag {
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
    padding: 6px 12px;
    text-transform: uppercase;
    background: color(var(--color-secondary) alpha(50%));
    color: #fff;
    border-radius: 20px;
  }

  &__count,
  &__arrow {
    padding: 4px 8px;
    color: var(--color-secondary);
    background: color(#fff alpha(50%));
    border-radius: 2px;
  }

  &__count {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 1.2rem;
  }

  &__arrow {
    padding: 4px;
    margin: 0 8px;
  }

  &__navigation,
  &__navigation {
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;

    &--left {
      left: 0;
    }

    &--right {
      justify-content: flex-end;
      right: 0;
    }
  }
}
