@import '../../vendor/styles/variables.css';

.srp {
  background: #fff;

  &__body {
    padding-bottom: 48px;
  }

  &__filter {
    padding: 4px 0;
    left: 8px;
    background: #fff;
    text-transform: uppercase;

    &__item {
      height: 40px;
      line-height: 40px;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;

      &__sort, 
      &__filter {
        font-size: 1rem;
        margin: 0;
      }

      & + & {
        border-left: 1px solid var(--color-quinary);
      }
    }
  }
  

  &__single-result {
    line-height: 1.5;
    font-size: 1.4rem;
    padding: 16px;
    margin: 0;
    color: var(--color-tertiary);
    text-align: center;
    border-bottom: 1px solid var(--color-quaternary);
  }

  &__no-results {
    text-align: center;
    padding: 16px;

    &__head {
      margin-top: 160px;
    }

    &__title {
      color: var(--color-secondary);
    }
  }
}
