@import '../../../../vendor/styles/variables.css';

.policies {
  padding: 16px;

  &__list-item {
    margin-bottom: 20px;
  }

  &__title {
    color: var(--color-secondary);
    font-weight: 500;
  }

  &__description {
    color: var(--color-tertiary);
  }
}
