@import '../../../vendor/styles/variables.css';

.sm {
  padding: 16px;
  border-bottom: 1px solid var(--color-quaternary);

  &__image {
    width: 100%;
  }

  &__link {
    position: relative;
  }

  &__address {
    background: #fff;
    position: absolute;
    bottom: 8px;
    left: 4px;
    right: 4px;
    padding: 12px 16px;
    margin: 0;
    box-shadow: var(--shadow-primary);
  }
}
