@import '../../../vendor/styles/variables.css';

.filter {
  &__section {
    padding: 16px;
    border-bottom: 1px solid var(--color-quaternary);

    &__title {
      color: var(--color-secondary);
      margin-bottom: 12px;
    }
  }

  &__modal-header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
  }

  &__modal-footer {
    padding: 8px 16px;
    height: 56px;
    box-shadow: var(--shadow-secondary);

    &__results {
      color: var(--color-secondary);
    }
  }

  &__item {
    display: flex;
    padding: 8px 0;
    color: var(--color-secondary);

    &:last-of-type {
      margin-bottom: 0;
    }

    &__input {
      margin-right: 16px;
    }
  }
}
