@import '../../vendor/styles/variables.css';

.image-container {
  background: color(var(--color-secondary) alpha(10%));
  position: relative;
  width: 100%;

  &--loaded {
    background: transparent;
    position: static;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &--loaded {
      position: static;
    }

    &[src=""] {
      visibility: hidden;
    }

    &--grayscale {
      filter: grayscale(1);
    }
  }
}
