@import '../../../vendor/styles/variables.css';

.pc {
  &__content {
    padding: 0 16px;
  }

  &__header {
    padding: 16px;
  }

  &__subtitle {
    font-weight: 400;
    margin: 0;
  }

  &__city {
    padding: 8px;

    &__img {
      border-radius: 50%;
      width: 56px;
      height: 56px;
      margin-bottom: 8px;

      @media (--medium-screen) {
        width: 64px;
        height: 64px;
      }
    }

    &__name {
      margin: 0;
    }
  }
}
