@import '../../vendor/styles/variables.css';

.psp {

  &__header {
    position: relative;
    margin-bottom: 32px;
    background: var(--color-lagoon);
    padding: 32px 16px;

      &__heading {
        font-size: 1.8rem;
        margin-bottom: 8px;
        color: #fff;
        font-weight: 500;
      }

      &__subheading {
        font-weight: normal;
        color: #fff;
        opacity: .8;
      }
  }

  &__container {
    margin: 0 16px;
  }

  &__htpw {
    background-color: #f1f1f1;
    padding: 24px 16px 16px;
    margin-bottom: 16px;
    border-radius: 2px;

    &__title {
      margin-bottom: 32px;
      line-height: 1.3;
      font-weight: 500;
    }
  }

  &__close-icon {
    padding: 16px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    color: var(--color-quinary);
  }

  &__title {
    margin-bottom: 32px;
    line-height: 1.3;
  }

  &__sub-title {
    font-weight: 500;
  }

  &__text {
    margin-top: 4px;
    font-weight: 400;
    line-height: 1.43;
  }

  &__call-us {
    display: flex;
  }

  &__direct-booking {
    margin-bottom: 32px;

    &__benefits {
      display: flex;
      align-items: center;
      margin-bottom: 32px;
    }

    &__icon {
      width: 56px;
      height: 56px;
      margin-right: 16px;
    }
  }

  &__treebo-points {
    display: flex;

    & + & {
      margin-top: 32px;
    }
  }

  &__view-details {
    padding: 12px 0;
  }

  &__points-value {
    color: var(--color-secondary);
    font-weight: 500;
  }

  &__accordion {
    border-top: 8px solid var(--color-quaternary);
    border-bottom: 8px solid var(--color-quaternary);

    &__section{
      padding: 20px 0px;

      &__title {
        padding: 0px;
      }
    }
  }
}
