@import '../../vendor/styles/variables.css';

.search-widget {
  background: #fff;
  box-shadow: var(--shadow-secondary);

  & .search-button {
    padding-left: 0;

    &__cta {
      border-radius: 0;
      box-shadow: none;
      height: 5rem;
      background-color: var(--color-primary);
    }
  }
}
