@import '../../../vendor/styles/variables.css';

.qg {
  &__subtitle {
    font-weight: 400;
    color: var(--color-tertiary);
    font-family: var(--font-secondary);
    margin-bottom: 4.8rem;
  }

  &__proposition {
    font-family: var(--font-secondary);
    color: var(--color-quinary);
    border-radius: 2px;

    &__title {
      color: var(--color-quinary);
      font-family: var(--font-secondary);
      font-weight: 500;
    }

    &__link {
      color: var(--color-quinary);
      margin: 1.2rem 0 0;
      font-family: var(--font-secondary);
      font-weight: 400;
    }

    &__banner {
      display: flex;
      align-items: center;
      padding: 1.6rem 4.8rem;
      background-color: var(--color-blue-lagoon);
      margin: 0;

      &__details {
        margin-left: 5.2rem;
      }

      &__img {
        width: 212px;
        height: 120px;
      }
    }

    &__text {
      font-family: var(--font-secondary);
      font-weight: 500;
    }

    &__promises {
      margin: 0;
      padding: 3.2rem;
      border: solid 1px #dbdbdb;
    }

    &__img {
      padding: 2.4rem 0;
    }
  }
}
