@import '../../../vendor/styles/variables.css';

.ml {
  padding: 16px;

  &__title {
    font-weight: 300;
    color: var(--color-secondary);
  }

  &__requestotp {
    margin-bottom: 60px;
  }

  &__social-login {
    padding: 0 24px;

    &__title {
      color: var(--color-tertiary);
      margin-bottom: 24px;
      font-weight: 400;
    }

    &__option {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__btn {
      margin-bottom: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__error {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 48px;
    width: 100%;
    background-color: var(--color-quaternary);

    &__text {
      line-height: 48px;
      vertical-align: middle;
      color: var(--color-secondary);
    }
  }
}
