@import '../../vendor/styles/variables.css';

.itinerary-page {
  padding: 1.6rem 0;
}

.checkout {
  background: #fff;
  border-radius: 0.2rem;
  box-shadow: var(--shadow-primary);

  &__section {
    padding: 2rem 4rem;
    border-bottom: 0.1rem solid var(--color-quaternary);
    position: relative;
  }

  &__index {
    position: absolute;
    left: 1.5rem;
    margin-top: 0.1rem;
  }

  &__badge {
    width: 1.6rem;
    height: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    background: var(--color-tertiary);
    border-radius: 0.2rem;

    &--active {
      background: var(--color-primary);
    }
  }

  &__summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__section-title {
    font-size: 1.6rem;
    margin-bottom: 0.8rem;
    text-transform: uppercase;

    &--active {
      color: var(--color-primary);
    }

    &--completed {
      color: var(--color-secondary);
    }
  }

  &__section-subtitle {
    white-space: pre;
  }

  &__form {
    width: 35rem;

    &__gstin {
      width: 40rem;
    }
  }

  &__msg-header {
    font-size: 1.6rem;
    color: var(--color-secondary);
  }

  &__msg {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 0.4rem;
    margin-top: 1.6rem;

    &--offers {
      width: 35rem;
    }
  }

  &__edit {
    height: 4rem;
    width: 11.2rem;
  }

  &__action {
    margin: 1.6rem 0;
    width: 35rem;

    &--secondary {
      width: 23rem;
    }

    & + & {
      margin-left: 1.6rem;
    }
  }

  &__special {
    &-cont {
      margin-top: 3.2rem;
    }

    &-time {
      display: flex;
      justify-content: space-between;
    }

    &-text {
      margin: 3.6rem 0 3.2rem;

      &area {
        width: 100%;
        border-radius: 0.2rem;
        background-color: #fafafa;
        height: 7.6rem;
        padding: 1.2rem;
        box-shadow: inset 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.5);
      }
    }

    &-info {
      display: flex;
      align-items: flex-end;
      margin-left: 2.4rem;
    }

    &-infotext {
      margin-bottom: -0.4rem;
    }
  }

  &__payment {
    margin: 2rem -4rem -2rem;
    border-top: 0.1rem solid var(--color-quinary);
  }

  &__pay-error {
    position: absolute;
    width: calc(100% - 20rem);
    top: 5.9rem;
    height: 4rem;
    left: 0;
    margin-left: 20rem;
    font-size: 1.2rem;
    font-weight: 500;
    background: var(--color-error);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__select {
    & .select {
      padding: 1.1rem 3.4rem 1.1rem 1.6rem;
      border-radius: 0.2rem;
      background-color: #fafafa !important;
      box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.24), 0 0 0.2rem 0 rgba(0, 0, 0, 0.12);
    }

    &::before {
      font-size: 2rem;
      color: var(--color-secondary);
      right: 0.8rem;
    }
  }

  &__rate-plan {
    &__continue {
      margin-top: 1rem;
      margin-left: 0.8rem;
    }
  }
}

.pah-otp {
  padding: 30px 20px;
  width: 38rem;
  height: 30%;
  background: #fff;
}
