@import '../../../vendor/styles/variables.css';

.ssrp__review {
  display: flex;
  flex-direction: column;
  padding: 24px 0;

  & + & {
    border-top: solid 1px var(--color-quaternary);
  }

  &__hotel {
    color: var(--color-link);
    margin-bottom: 16px;
  }

  &__title {
    margin-bottom: 12px;
    color: var(--color-secondary);
  }

  &__sub-title {
    margin-bottom: 12px;
  }

  &__user-name {
    color: var(--color-tertiary);
  }

  &__rating-image {
    margin-right: 4px;
  }

  &__text {
    color: var(--color-secondary);
  }
}
