@import '../../vendor/styles/variables.css';

.rewards {
  &__header {
    position: relative;
    background-image: linear-gradient(to top, #44ac95, #278973);
    height: 140px;

    @media (--medium-screen) {
      height: 164px;
    }
  }

  &__nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    color: #fff;

    &__back-btn {
      color: #fff;
    }

    &__view-details {
      padding: 16px;
      color: var(--color-quaternary);
    }
  }

  &__balance {
    position: relative;
    top: 57%;
    transform: translateY(-50%);

    &__amount {
      font-size: 42px;
      color: #fff;
      margin-bottom: 4px;

      @media (--medium-screen) {
        font-size: 46px;
      }
    }

    &__title {
      color: #fff;
      font-weight: 400;
    }
  }

  &__tnc {
    padding: 8px;
    background-color: var(--color-quinary);

    &__details {
      padding: 12px;
      border: 1px solid var(--color-golden-tainoi);
      border-radius: 2px;
      background-color: var(--color-sandy-beach);
      font-weight: normal;
    }
  }
}
