@import '../../vendor/styles/variables.css';

.ntk {
  padding-left: 20px;

  &__content {
    padding-bottom: 12px;
    color: var(--color-secondary);
    list-style: initial;
  }

  &__view-more {
    color: var(--color-link);
    display: flex;
  }
}
