@import '../../../vendor/styles/variables.css';

.ssrp__blogs {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__blog {
    padding: 16px;

    &-name {
      font-weight: 300;
      color: var(--color-tertiary);
      margin-top: 16px;
    }
  }
}
