---
subject: Checkout Feedback
---

<container>
  <wrapper class="checkout-feedback">
    <img class="checkout-feedback__logo"
      src="http://images.treebohotels.com/images/logo_black_horizental.png"
      alt="Treebo Hotels"
    >
  </wrapper>
  <wrapper class="checkout-feedback__content">
    <spacer size="50"></spacer>
    <center class="checkout-feedback__greet">
      Hi {{{{raw}}}}{{ guestName }}{{{{/raw}}}},
    </center>
    <spacer size="30"></spacer>
    <row>
      <columns small="1" large="2" ></columns>
      <columns small="10" large="5" class="checkout-feedback__expression-emoji-img">
        <center class="checkout-feedback__query">
          How was your recent stay with us,
          at <strong>{{{{raw}}}} {{ hotelName }} {{{{/raw}}}} ?</strong>
        </center>
      </columns>
      <columns small="1" large="2"></columns>
    </row>
    <spacer size="40"></spacer>
    <row>
      <columns small="1" large="1"></columns>
      <columns small="2" large="5" class="checkout-feedback__expression-emoji-img">
        <a
          href="{{{{raw}}}}{{ environment }}{{{{/raw}}}}/feedback/{{{{raw}}}}{{ feedbackId }}{{{{/raw}}}}/?expression=terrible&source=email"
          target="_blank">
          <img src="https://images.treebohotels.com/images/Email/terrible.png">
        </a>
      </columns>
      <columns small="2" large="5" class="checkout-feedback__expression-emoji-img">
        <a
          href="{{{{raw}}}}{{ environment }}{{{{/raw}}}}/feedback/{{{{raw}}}}{{ feedbackId }}{{{{/raw}}}}/?expression=veryBad&source=email"
          target="_blank">
          <img src="https://images.treebohotels.com/images/Email/veryBad.png">
        </a>
      </columns>
      <columns small="2" large="5" class="checkout-feedback__expression-emoji-img">
        <a
          href="{{{{raw}}}}{{ environment }}{{{{/raw}}}}/feedback/{{{{raw}}}}{{ feedbackId }}{{{{/raw}}}}/?expression=avg&source=email"
          target="_blank">
          <img src="https://images.treebohotels.com/images/Email/avg.png">
        </a>
      </columns>
      <columns small="2" large="5" class="checkout-feedback__expression-emoji-img">
        <a
          href="{{{{raw}}}}{{ environment }}{{{{/raw}}}}/feedback/{{{{raw}}}}{{ feedbackId }}{{{{/raw}}}}/?expression=good&source=email"
          target="_blank">
          <img src="https://images.treebohotels.com/images/Email/good.png">
        </a>
      </columns>
      <columns small="2" large="5" class="checkout-feedback__expression-emoji-img">
        <a
          href="{{{{raw}}}}{{ environment }}{{{{/raw}}}}/tripadvisor/reviews-{{{{raw}}}}{{ hotelId }}{{{{/raw}}}}/?feedbackId={{{{raw}}}}{{ feedbackId }}{{{{/raw}}}}&flow=amazing&source=email&taWidgetUrl={{{{raw}}}}{{ ta_url }}{{{{/raw}}}}"
          target="_blank">
          <img src="https://images.treebohotels.com/images/Email/amazing.png">
        </a>
      </columns>
      <columns small="1" large="1"></columns>
    </row>
    <spacer size="30"></spacer>
    <row>
      <columns small="1" large="1"></columns>
      <columns small="12" large="12">
        <center class="checkout-feedback__response">
          Your response will be recorded and you will be redirected to our feedback form.
        </center>
      </columns>
      <columns small="1" large="1"></columns>
    </row>
    <spacer size="20"></spacer>
  </wrapper>
  <img src="https://images.treebohotels.com/images/Email/hr.png" class="checkout-feedback__zig-zag-hr">
  <wrapper class="checkout-feedback__stay-detail">
    <spacer size="35"></spacer>
    <center class="checkout-feedback__stay-details">
      YOUR STAY DETAILS
    </center>
    <spacer size="30"></spacer>
    <row>
      <columns small="8" large="8" class="checkout-feedback__hotel-name">
        <strong>{{{{raw}}}} {{ hotelName }} {{{{/raw}}}}</strong>
      </columns>
    </row>
    <row>
      <columns small="4" large="4" class="checkout-feedback__hotel-address">
        {{{{raw}}}} {{ address }} {{{{/raw}}}}
      </columns>
    </row>
    <img src="https://images.treebohotels.com/images/Email/line.png" class="checkout-feedback__line">
    <spacer size="20"></spacer>
    <row>
      <columns small="8" large="8" class="checkout-feedback__room-title">
        <strong>{{{{raw}}}} {{ fromDate }} {{{{/raw}}}} - {{{{raw}}}} {{ toDate }} {{{{/raw}}}}</strong>
      </columns>
      <columns small="4" large="4" class="checkout-feedback__room-title">
        <strong>{{{{raw}}}} {{ noOfRooms }} Room {{{{/raw}}}} </strong>
      </columns>
    </row>
    <spacer size="50"></spacer>
    <row background="https://images.treebohotels.com/images/Email/building.png" class="checkout-feedback__building"></row>
  </wrapper>
  <wrapper class="checkout-feedback">
    <spacer size="30"></spacer>
    <row>
      <column small="10" large="12" class="checkout-feedback__contact">
        <center>
          Contact us: +91 9322-800-100 |
          E-Mail: <span class="checkout-feedback__email">feedback@treebohotels.com</span>
        </center>
      </column>
    </row>
    <spacer size="30"></spacer>
    <row>
      <columns small="2" large="3"></columns>
      <columns small="3" large="1" class="checkout-feedback__emoji-img">
        <a href="https://www.facebook.com/TreeboHotels/" target="_blank">
          <img src="https://images.treebohotels.com/images/Email/fb.png?h=40">
        </a>
      </columns>
      <columns small="3" large="1" class="checkout-feedback__emoji-img">
        <a href="https://twitter.com/TreeboHotels" target="_blank">
          <img src="https://images.treebohotels.com/images/Email/twitter.png?h=40">
        </a>
      </columns>
      <columns small="3" large="1" class="checkout-feedback__emoji-img">
        <a href="https://www.linkedin.com/company/treebohotels" target="_blank">
          <img src="https://images.treebohotels.com/images/Email/linkedin.png?h=40">
        </a>
      </columns>
      <columns small="2" large="3"></columns>
    </row>
    <spacer size="10"></spacer>
    <div class="checkout-feedback__download"> Download the Apps</div>
    <spacer size="20"></spacer>
    <row>
      <columns small="2" large="3"></columns>
      <columns small="4" large="3" class="checkout-feedback__emoji-img">
        <a href="https://play.google.com/store/apps/details?id=com.treebo.starscream" target="_blank">
          <img src="https://images.treebohotels.com/images/Email/google_play.png">
        </a>
      </columns>
      <columns small="4" large="3" class="checkout-feedback__emoji-img">
        <a href="https://itunes.apple.com/in/app/treebo-hotel-booking-app/id1281202038?mt=8" target="_blank">
          <img src="https://images.treebohotels.com/images/Email/app_Store.png">
        </a>
      </columns>
      <columns small="2" large="3"></columns>
    </row>
    <spacer size="10"></spacer>
  </wrapper>
</container>
