@import '../../vendor/styles/variables.css';

.cop {
  &__review {
    padding: 16px 16px 56px;
  }

  &__details {
    padding-bottom: 48px;

    &__toggle-gst-fields {
      margin-left: 8px;
    }
  }

  &__strike {
    border: solid 1px var(--color-quinary);
  }

  &__ht {
    &-cont {
      height: 80px;
      color: #fff;
      padding: 12px 16px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-bottom: 16px;
      position: relative;
    }

    &-bg {
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      position: absolute;
      background-size: cover;
      background-position: center;
      border-radius: 2px;
      z-index: -1;
      filter: brightness(0.75);
    }

    &-name {
      color: inherit;
    }

    &-addr {
      color: var(--color-quaternary);
    }
  }

  &__ntk {
    padding-bottom: 24px;

    &__title {
      color: var(--color-secondary);
      padding-bottom: 12px;
      border-bottom: solid 0.5px var(--color-quinary);
    }

    &__body {
      margin-top: 24px;
    }
  }

  &__bd {
    &-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-title-text {
      margin-bottom: 0;
    }

    &-edit {
      padding: 8px 0;
    }

    &-details {
      padding: 8px 0;
      color: var(--color-secondary);
    }

    &-label {
      color: var(--color-tertiary);
      font-weight: 400;
    }

    &-text {
      font-weight: 500;
    }

    &-header-text {
      margin-bottom: 8px;
    }

    &-border-top {
      border-top: 1px solid #f1f1f1;
    }

    &__sd {
      &::after {
        color: var(--color-governor-bay);
        font-family: "icomoon" !important;
        font-size: 1.5rem;
        content: "\e91d";
        position: relative;
        margin-left: 8px;
      }
    }

    &__rate-plan-tag {
      margin: 0;
    }

    &__use-wallet {
      background-color: var(--color-quinary);
      padding: 12px;
      border-radius: 2px;
      margin: 12px 0 24px;

      &--disabled {
        pointer-events: none;
      }

      &__checkbox {
        &&&::before {
          background-color: var(--color-quinary);
        }
      }
    }
  }

  &__cp {
    padding-bottom: 24px;

    &__title {
      color: var(--color-secondary);
      padding-bottom: 12px;
      border-bottom: solid 0.5px var(--color-quinary);
    }
  }

  &__price-cont {
    padding: 0 24px;
    margin-bottom: 8px;
    background: var(--color-quinary);
    border: 1px solid var(--color-tertiary);
    border-radius: 4px;
    font-size: 1.2rem;
  }

  &__footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;

    &--review {
      box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.12);
    }
  }

  &__price-final {
    margin-right: 4px;
  }

  &__price-text {
    font-weight: 500;
  }

  &__price-row {
    padding: 8px 0;
    margin: 0;

    &--compact {
      padding-bottom: 0;
    }

    &--final {
      color: var(--color-secondary);
    }

    & .col:nth-child(odd) {
      padding-left: 0;
    }

    & .col:nth-child(even) {
      padding-right: 0;
    }
  }

  &__details-form {
    margin-top: 40px;
    padding: 0 16px;

    &__organization-name {
      margin-top: 24px;
    }
  }

  &__pay-section {
    padding: 8px 16px 16px;
    border-bottom: 1px solid var(--color-quaternary);
    margin-bottom: 0;
  }

  &__hdr {
    position: relative;
    background-color: color(var(--color-quaternary) alpha(10%));

    &-sec {
      display: block;
      padding: 16px;
      border-top: 1px solid var(--color-quaternary);
      border-bottom: 1px solid var(--color-quaternary);
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__distance {
      color: var(--color-accent-1);
    }

    &__price {
      margin: 0;
    }

    &__rate-plan-tag {
      margin-bottom: 0;
    }
  }

  &__apply-coupon {
    display: flex;
    align-items: center;
    border-radius: 2px;
    background-color: var(--color-primary-light);
    border: solid 1px var(--color-primary);
    margin: 10px 0 24px;

    &--disabled {
      pointer-events: none;
      background-color: var(--color-quinary);
      border: solid 1px var(--color-quaternary);
    }

    &-text {
      color: var(--color-secondary);
      opacity: 0.7;
      padding-top: 8px;
      font-weight: 500;
    }
  }

  &__coupon-btn {
    text-transform: capitalize;

    &--disabled {
      color: var(--color-tertiary);
    }
  }

  &__remove-coupon {
    display: flex;
    align-items: center;
    border-radius: 2px;
    background-color: var(--color-quinary);
    border: solid 1px var(--color-quaternary);
    margin: 10px 0 24px;

    &--disabled {
      pointer-events: none;
    }

    &-text {
      color: var(--color-secondary);
      opacity: 0.7;
      font-weight: 500;
    }
  }

  &__sd {
    color: var(--color-secondary);
    font-weight: 400;
    margin-bottom: 0;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 20px;

    &__icon {
      padding-right: 12px;
    }
  }
}

.coupon {
  &__cont {
    padding: 8px 20px;
  }

  &__header {
    padding: 0;
  }

  &__add {
    font-weight: 600;
    text-transform: capitalize;
  }

  &__form {
    display: flex;
  }

  &__input {
    padding: 8px 16px;
    border-width: 1px 0 1px 1px;
    margin-bottom: 0;
    font-size: 1.2rem;
    height: 40px;
    flex: 1 1 auto;
  }

  &__btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 1.2rem;
    min-width: 104px;
  }

  &__error {
    margin-top: 4px;
  }
}
