@import '../../vendor/styles/variables.css';

.couple-friendly-tag {
  display: flex;
  align-items: center;
  position: relative;
  width: 14.6rem;
  padding: .4rem .8rem;
  border-radius: 1.6rem;
  margin-bottom: .4rem;
  background-color: var(--color-catskill-white);
  border: solid 1px var(--color-trade-wind);
  color: var(--color-blue-lagoon);

  &__text {
    margin-left: 4px;
  }
}
