@import '../../vendor/styles/variables.css';

.breadcrumb {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.03rem;
  color: var(--color-tertiary);
  text-transform: capitalize;

  &__link {
    color: inherit;
  }

  &__item {
    &:last-child {
      pointer-events: none;
    }

    & + & {
      margin-left: 1.8rem;
      position: relative;

      &::before {
        font-family: 'icomoon';
        content: '\f105';
        position: absolute;
        left: -1rem;
        top: 0;
        font-size: 1.2rem;
        line-height: 1.2rem;
      }
    }
  }
}
