@import '../../../vendor/styles/variables.css';

.bhp {
  &__container {
    padding: 60px 40px 60px 60px;
    margin: 4rem auto;
    background: #fff;
  }

  &__heading {
    padding-top: 4rem;
    border-bottom: 1px solid color(var(--color-secondary));
  }
}

.bhi {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 0.5px solid color(var(--color-quaternary));

  &__hotel {
    padding-left: 7.2rem;
  }

  &__location {
    font-size: 2.5rem;
    padding-left: 1.2rem;
    padding-top: 1.2rem;
  }

  &__cancelled {
    color: color(var(--color-error));
  }

  &__confirmed {
    color: color(var(--color-primary));
  }

  &__temporary {
    color: color(var(--color-secondary));
  }
}
