@import '../../vendor/styles/variables.css';

.coupon-banner {
  margin: 0 0 1.2rem;
  color: #fff;
  position: relative;
  padding: 16px 0 16px 16px;
  height: 4.8rem;
  background-color: var(--color-secondary);
  border-radius: 2px;

  &__title {
    position: relative;

    &::before {
      display: inline-block;
      width: 24px;
      height: 24px;
      font-size: 2rem;
      font-family: 'icomoon' !important;
      content: '\e925';
      background-size: 100%;
      position: absolute;
      top: -4px;
      left: 4px;
    }

    &__text {
      color: #fff;
      font-weight: 500;
      font-size: 1.4rem;
      font-family: var(--font-secondary);
      margin-left: 32px;
    }
  }

  &__close {
    cursor: pointer;
    padding: 0.8rem 1.6rem 0.8rem 0.8rem;
    font-weight: 300;
    font-family: var(--font-secondary);
  }
}
