@import '../../vendor/styles/variables.css';

.qgb {
  &__container {
    padding: 2.4rem;
    margin: 0;
    background-color: var(--color-blue-lagoon);
    border-radius: 2px;
  }

  &__description {
    flex: 1;
  }

  &__title {
    color: var(--color-quinary);
    font-family: var(--font-secondary);
    font-weight: 500;
    margin-bottom: 1rem;
  }

  &__subtitle {
    margin-bottom: 2.4rem;

    &__text {
      color: var(--color-quinary);
      font-family: var(--font-secondary);
      opacity: 0.8;
    }

    &__link {
      color: var(--color-quinary);
      font-family: var(--font-secondary);
      margin-left: 8px;
    }
  }

  &__text {
    color: var(--color-quinary);
    font-family: var(--font-secondary);
    margin-left: 1.2rem;
  }

  &__link {
    color: var(--color-quinary);
    margin-left: 8px;
    font-family: var(--font-secondary);
    font-weight: 500;
    opacity: 1;
  }

  &__icon {
    color: var(--color-quinary);
  }

  &__img {
    width: 212px;
    height: 120px;
  }

  &__img + &__description {
    margin-left: 1.6rem;
  }
}
