@import '../../vendor/styles/variables.css';

.qgp {
  &__content {
    margin: 3.2rem auto;
  }

  &__header {
    padding: 3.6rem 5.6rem;
    height: 222px;
    background-color: var(--color-blue-lagoon);
    margin: 0;

    &__img {
      width: 26.8rem;
      height: 15rem;
    }

    &__details {
      margin-left: 4.8rem;
    }

    &__title {
      color: #ffffff;
      margin-bottom: 1.2rem;
      font-size: 3rem;
    }

    &__subtitle {
      color: #ffffff;
      font-weight: 400;
      font-family: var(--font-secondary);
      opacity: 0.8;
    }
  }

  &__container {
    background-color: #ffffff;
    padding: 7rem;
  }

  &__htc {
    margin-bottom: 5.6rem;

    &__img {
      margin-bottom: 1.6rem;
    }

    &__title {
      font-size: 2.4rem;
      color: var(--color-secondary);
      font-weight: 500;
      margin-bottom: 3.6rem;
    }

    &__step {
      font-weight: 500;
      font-family: var(--font-secondary);
    }
  }

  &__promises {
    padding: 4.8rem;
    background-color: var(--color-quinary);
    margin-bottom: 2.4rem;
    border: solid 1px var(--color-quaternary);
    border-radius: 2px;

    &__title {
      font-family: var(--font-secondary);
      font-weight: 500;
      margin-bottom: 4.8rem;
    }

    &__assured-amenities {
      list-style: disc;
    }
  }

  &__promise {
    display: flex;
    align-items: top;
    color: var(--color-secondary);
    margin: 0 0 4.8rem 0;

    &__title {
      font-weight: 500;
      font-family: var(--font-secondary);
    }

    &__icon {
      font-size: 2.4rem;
    }

    &__desc {
      margin-left: 3.2rem;
    }

    &__text {
      color: var(--color-tertiary);
      line-height: 1.8;
    }

    &__tnc {
      color: var(--color-tertiary);
    }
  }

  &__everything-else {
    padding: 4.8rem;
    background-color: var(--color-quinary);
    border: solid 1px var(--color-quaternary);
    border-radius: 2px;

    &__title {
      font-family: var(--font-secondary);
      font-weight: 500;
    }

    &__subtitle {
      margin-bottom: 3.6rem;
    }

    &__text {
      color: var(--color-secondary);
      font-family: var(--font-secondary);
      font-weight: 500;
    }
  }

  &__tnc {
    background-color: #ffffff;
    margin-bottom: 2.4rem;

    &__title {
      padding: 2.4rem 7.2rem;
      border-bottom: solid 1px var(--color-quaternary);
      font-family: var(--font-secondary);
    }

    &__details {
      padding: 2.4rem 7.2rem;
      list-style: disc;

      &__item {
        line-height: 2.1rem;
        margin-bottom: 1.8rem;
      }
    }
  }

  &__show-more-less {
    padding: 2.4rem 7.2rem;
  }
}
