@import '../../vendor/styles/variables.css';

.rp {
  &__container {
    padding: 0 16px;
  }

  &__heading {
    margin-top: 32px;
    margin-bottom: 24px;
    font-weight: 500;
    color: var(--color-secondary);
  }

  &__sub-heading {
    margin-bottom: 12px;
    font-weight: 400;
    color: var(--color-tertiary);
  }
}
