@import '../../vendor/styles/variables.css';

.itr {
  margin-bottom: 56px;

  &__header {
    position: relative;
    margin-bottom: 36px;
  }

  &__container {
    margin: 0 16px;
  }

  &__htpw {
    background-color: #f1f1f1;
    padding: 24px 16px 16px;

    &__title {
      margin-bottom: 24px;
      color: var(--color-secondary);
      line-height: 1.3;
      font-weight: 500;
    }
  }

  &__close-icon {
    padding: 16px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    color: var(--color-quinary);
  }

  &__title {
    margin-bottom: 24px;
    color: var(--color-secondary);
    line-height: 1.3;
  }

  &__sub-title {
    margin-bottom: 12px;
    color: var(--color-secondary);
    font-weight: 500;
  }

  &__text {
    font-weight: 400;
    color: var(--color-tertiary);
    line-height: 1.43;
  }

  &__direct-booking {
    margin-bottom: 32px;

    &__benefits {
      display: flex;
      align-items: center;
      margin-bottom: 32px;
    }
  }

  &__treebo-points {
    & + & {
      margin-top: 32px;
    }
  }

  &__view-details {
    padding: 12px 0;
  }

  &__points-value {
    color: var(--color-secondary);
    font-weight: 500;
  }
}
