@import '../../../vendor/styles/variables.css';
.srig {
  position: relative;

  &__address {
    margin-top: 8px;
    color: var(--color-tertiary);
  }

  &__name {
    font-weight: bold;
  }

  &__link {
    padding-top: 16px;
    display: block;
    border-bottom: 8px solid var(--color-quaternary);
  }

  &__info-container {
    padding: 16px;
  }

  &__rating-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 12px;
    padding-bottom: 4px;
  }

  &__rating-image {
    width: 20px;
    margin-right: 4px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__rating {
    font-weight: 500;

    &--light {
      font-weight: 300;
    }

    &__comment {
      margin-left: 4px;
      color: var(--color-tundora);
    }
  }

  &__distance {
    color: var(--color-accent-1);
  }

  &__selling-price,
  &__discount-percentage {
    display: inline-block;
    margin: 0 4px 2px 0;
  }

  &__striked-price {
    display: block;
  }

  &__discount-percentage {
    color: var(--color-primary);
    font-weight: 500;
    margin: 0;
  }

  &__price {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    & .price__val {
      font-size: 3rem;
    }
    & .price__rs {
      font-size: 3rem;
    }
  }

  &__book {
    bottom: 32px;
    right: 16px;
    float: right;

    &__button {
      height: auto;
      padding: 8px 12px;
      font-size: 12px;
      line-height: 12px;

      @media (--medium-screen) {
        font-size: 14px;
        line-height: 14px;
      }
    }

    &__icon {
      font-size: 12px;
    }
  }

  &__cf {
    padding: 16px 16px 0px;
  }
}
