@import '../../../vendor/styles/variables.css';

.ndg {
  &__header {
    text-align: center;
    background-color: var(--color-quinary);
  }

  &__title {
    color: var(--color-tertiary);
  }

  &__subtitle {
    font-weight: 500;
    margin-bottom: 28px;
  }

  &__img {
    margin-bottom: 24px;
  }
}
