@import '../../vendor/styles/variables.css';

.hdp {
  padding-bottom: 48px;

  &__sdp {
    padding-top: 0;
  }

  &__etr {
    margin: 0 16px 16px;
  }

  &__ntk {
    padding: 16px;
    border: 1px solid var(--color-quaternary);

    &__title {
      color: var(--color-secondary);
      font-weight: 400;
    }

    &__body {
      padding-top: 20px;
    }
  }

  &__coupon {
    padding: 0 16px;
    margin-bottom: 12px;

    &__details {
      padding: 12px 16px;
      background-color: var(--color-primary-light);
      border: solid 1px var(--color-primary);
    }

    &__text {
      font-weight: 400;
      line-height: 1.5;
    }
  }

}
