@import '../../vendor/styles/variables.css';

.toast {
  &__capsular {
    min-width: 60%;
    background-color: var(--color-secondary);
    color: #fff;
    text-align: center;
    border-radius: 30px;
    padding: 12px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transform: translate(-50%, 100%);
    transition: all 0.5s ease-in-out;
  }

  &--capsular-visible {
    opacity: 1 !important;
    transform: translate(-50%, -100%);
  }

  &--sharpEdged-visible {
    opacity: 1 !important;
    transform: translate(-50%, 150%);
  }

  &__sharpEdged {
    min-width: 100%;
    background-color: #fff0d6;
    color: #727171;
    padding: 12px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transform: translate(-50%, -48%);
    transition: all 0.5s ease-in-out;
  }
}
