@import '../../../vendor/styles/variables.css';

.rts {
  &__ts {
    padding: 16px;

    &__title {
      display: flex;
      align-items: center;
      font-size: 1.4rem;

      @media (--medium-screen) {
        font-size: 1.6rem;
      }
    }

    &__icon {
      font-size: 18px;
      margin-right: 8px;

      @media (--medium-screen) {
        font-size: 21px;
      }
    }
  }

  &__balance {
    padding: 2px 6px;
    border-radius: 12px;
    margin-left: 6px;
    color: #fff;

    &--empty {
      background-color: #ffa400;
      font-size: 10px;
    }

    &--has-balance {
      background-color: #5768e9;
    }

    &__value {
      color: #fff;
    }
  }
}
