@import '../../../../vendor/styles/variables.css';

.nearby-places {
  padding: 16px 16px 0;

  &__title {
    color: var(--color-secondary);
    font-weight: 500;
    margin-bottom: 18px;
  }

  &__description {
    color: var(--color-tertiary);
    margin-bottom: 12px;
  }
}
