.notification-modal {
  &__cont {
    padding: 52px;
    display: flex;
    flex-direction: column;
    font-weight: 500;
  }

  &__img {
    margin: 16px 0;
    height: 100px;
  }

  &__title {
    margin-bottom: 12px;
  }

  &__action {
    margin-top: 100px;
  }
}
