@import '../../../vendor/styles/variables.css';

.ssrp__aa {
  background-color: var(--color-accent-1);
  color: #fff;
  padding: 16px;
  margin-top: 16px;

  &__title {
    color: #fff;
    font-weight: 800;
    margin-bottom: 8px;
  }

  &__subtitle {
    color: #fff;
    font-weight: 300;
    margin-bottom: 24px;
  }

  &__list {
    margin-top: 12px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    text-align: center;
  }

  &__icon {
    font-size: 24px;
    margin-bottom: 8px;
  }

  &__info {
    color: #fff;
    font-weight: 300;
    margin-top: 16px;
  }
}
