@import '../../vendor/styles/variables.css';

.psb {
  padding: 0px;

  &__section {

    &__title {
      color: #fff;
      background: var(--color-lagoon);
      padding: 16px;
      border-radius: 2px 2px 0 0;

      & i {
        color: #fff;
      }

      &__heading {
        font-size: 1.6rem;
        margin-bottom: 8px;
        color: #fff;
        font-weight: 500;
      }

      &__subheading {
        font-weight: normal;
        color: #fff;
        opacity: .8;
      }
    }

    &__content {
      background: #fff;
      padding: 24px 16px;
      border-left: 1px solid var(--color-quaternary);
      border-right: 1px solid var(--color-quaternary);
      border-radius: 0 0 2px 2px;

      &__item {
        margin-bottom: 24px;
        display: flex;
        align-items: center;
      }

      &__icon {
        margin-right: 12px;
      }

      &__link {
        color: var(--color-link) !important;
      }
    }
  }
}
