@import '../../../vendor/styles/variables.css';

.bhdp {
  &__hr {
    margin: 20px 0;
    color: var(--color-quaternary);
    background-color: var(--color-quaternary);
    border-top: 1px solid var(--color-quaternary);
  }

  &__image {
    padding: 0 16px;
    width: 100%;
    height: 120px;

    &--grayscale {
      filter: grayscale(100%);
    }
  }

  &__status {
    color: #fff;
    padding: 4px 8px;
    display: inline-block;
    border-radius: 2px;
    text-transform: capitalize;

    &--confirmed {
      background-color: var(--color-link);
    }

    &--temporary {
      background-color: var(--color-error);
    }

    &--cancelled,
    &--past {
      background-color: var(--color-secondary);
    }
  }

  &__details {
    padding: 20px 16px;
  }

  &__field-value {
    display: inline-block;
    font-weight: 500;
  }

  &__hotel-name-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 16px;
    padding-top: 20px;
    border-top: 1px solid var(--color-quaternary);
  }

  &__call-hotel {
    padding: 4px;
  }

  &__dates-container {
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid var(--color-quaternary);
  }

  &__contact-us {
    padding-top: 20px;
    margin: 20px 0 24px;
    border-top: 1px solid var(--color-quaternary);
  }

  &__room-config {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__payment-container {
    padding-top: 20px;
    margin: 20px 0;
    border-top: 1px solid var(--color-quaternary);
  }

  &__payment-detail {
    margin-bottom: 8px;
  }

  &__pb-container {
    padding: 40px 16px 0;
  }

  &__pb-field {
    padding-bottom: 20px;

    &--pd {
      padding: 16px 0;
      border-top: 1px solid var(--color-quinary);
    }
  }

  &__partpay-btn-container {
    margin-bottom: 48px;
  }
}
