@import '../../vendor/styles/variables.css';

.wallet-banner {
  margin-bottom: 1.4rem;
  color: var(--color-secondary);
  position: relative;
  padding: 1.6rem;
  height: 4.8rem;
  background-color: var(--color-sandy-beach);
  border-radius: 2px;
  border: solid 0.5px var(--color-golden-tainoi);

  &__info {
    display: flex;

    &__banner-img {
      margin-top: -1px;

      &__img {
        width: 2.4rem;
        height: 2rem;
      }
    }

    &__price {
      padding-left: 0.8rem;
    }
  }
}
