@import '../../../vendor/styles/variables.css';

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 328px;

  &__image {
    position: absolute;
    background-size: cover;
    background-position: center left;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__content {
    padding: 16px;
  }

  @media (--medium-screen) {
    height: 384px;
  }

  &__topbar {
    margin-bottom: 128px;

    &__logo {
      height: 40px;
    }

    @media (--medium-screen) {
      margin-bottom: 156px;

      &__logo {
        height: 44px;
      }
    }
  }

  &__search {
    background: #fff;
    border-radius: 2px;
    box-shadow: var(--shadow-primary);

    &__text {
      font-size: 1.4rem;
      display: inline-block;
      padding: 10px;
      color: var(--color-tertiary);

      @media (--medium-screen) {
        font-size: 1.6rem;
        padding: 12px;
      }
    }

    &__icon {
      padding: 8px;
      color: #fff;
      background: var(--color-primary);
      float: right;
      border-radius: 2px;

      @media (--medium-screen) {
        font-size: 2.4rem;
        padding: 8px;
      }
    }

    &--animate {
      z-index: 10;
      border-radius: 0;
      position: relative;
      transform: scale(1.5, 30);
      transition: transform 0.5s ease-in-out;

      & .lp__search__text {
        color: #fff;
      }

      & .lp__search__icon {
        background: #fff;
      }

      @media (--large-screen) {
        transform: scale(1.5, 60);
      }
    }
  }

  &__heading {
    color: #fff;
    font-weight: 500;
  }

  &__subheading {
    line-height: 1.5;
    color: #fff;
    margin-bottom: 20px;
  }
}
