@import '../../../vendor/styles/variables.css';

.tgl {
  padding: 16px;
  border-top: 1px solid var(--color-quaternary);

  &__list-item {
    margin-top: 20px;
  }

  &__title {
    color: var(--color-tertiary);
  }

  &__description {
    color: var(--color-secondary);
    opacity: 0.7;
    margin-left: 32px;
  }

  &__header {
    color: var(--color-secondary);
    font-weight: 400;
    margin-bottom: 0;
  }

  &__default-icon {
    height: 18px;
    width: 18px;
    margin-right: 12px;

    &::after {
      content: '\e91f';
      color: var(--color-secondary);
      font-size: inherit;
      margin-bottom: 8px;
    }
  }
}
