@import '../../vendor/styles/variables.css';

.price {
  display: inline-block;

  &__type--regular {
    color: var(--color-secondary);
  }

  &__type--striked {
    text-decoration: line-through;
    color: var(--color-tertiary);
  }

  &__type--discount {
    color: var(--color-primary);
  }

  &__type--debit {
    color: var(--color-error);
  }

  &__type--credit {
    color: var(--color-primary);
  }

  &--preview {
    opacity: 0.1;
    height: 13px;
    width: 32px;
    background: var(--color-secondary);
  }

  &__size--small {
    font-size: 1.2rem;

    &.price--preview {
      height: 13px;
      width: 50px;
    }

    @media (--medium-screen) {
      font-size: 1.4rem;

      &.price--preview {
        height: 16px;
        width: 60px;
      }
    }
  }

  &__size--regular {
    font-size: 1.4rem;

    &.price--preview {
      height: 16px;
      width: 60px;
    }

    @media (--medium-screen) {
      font-size: 1.6rem;

      &.price--preview {
        height: 18px;
        width: 60px;
      }
    }
  }

  &__size--medium {
    font-size: 1.6rem;
    font-weight: 500;

    &.price--preview {
      height: 18px;
      width: 60px;
    }

    @media (--medium-screen) {
      font-size: 1.9rem;

      &.price--preview {
        height: 21px;
        width: 70px;
      }
    }
  }

  &__size--large {
    font-size: 2.1rem;
    font-weight: 500;

    &.price--preview {
      height: 24px;
      width: 70px;
    }

    @media (--medium-screen) {
      font-size: 2.4rem;

      &.price--preview {
        height: 27px;
        width: 80px;
      }
    }
  }

  &__size--x-large {
    font-size: 2.4rem;
    font-weight: 500;

    &.price--preview {
      height: 27px;
      width: 70px;
    }

    @media (--medium-screen) {
      font-size: 2.7rem;

      &.price--preview {
        height: 30px;
        width: 80px;
      }
    }
  }

  &--bold {
    font-weight: 600;
  }

  &__rs {
    font-weight: 400;
    margin-right: 1px;
  }
}
