@import '../../vendor/styles/variables.css';

.loading {
  display: inline-block;
  border-radius: 0.2rem;

  &--primary {
    opacity: 0.5;
    background-color: var(--color-primary);
  }

  &--quaternary {
    background-color: var(--color-quaternary);
  }

  &--tertiary {
    background-color: var(--color-tertiary);
  }

  &--quaternary {
    background-color: var(--color-quaternary);
  }

  &--quinary {
    background-color: var(--color-quinary);
  }
}
