@import '../../../../vendor/styles/variables.css';

.rp {
  margin: 24px 0 0;

  &__sp {
    padding: 0;
    color: var(--color-primary) !important;
  }

  &__rate-plan {
    margin: 0;

    &__price {
      margin-right: 8px;
    }

    &__text {
      line-height: 1.5;
    }
  }
}
