@import '../../vendor/styles/variables.css';

.pay {
  font-size: 1.2rem;

  &__title {
    color: var(--color-secondary);
    font-weight: 500;
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__pah {
    &__container {
      padding: 20px 16px 16px;
    }

    &__header {
      color: var(--color-secondary);
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
    }

    &__price {
      margin: 0;
    }

    &__rate-plan-tag {
      margin-left: 4px;
      margin-bottom: 0;
    }

    &__section {
      margin-bottom: 36px;
    }

    &__section-title {
      margin-bottom: 12px;
      font-weight: 500;
    }
  }
}

.card-pay {
  padding-bottom: 48px;

  &__container {
    padding: 16px;
  }

  &__number {
    padding-right: 60px;
  }

  &__label {
    font-size: 1.2rem;
  }

  &__expiry {
    margin: 16px 0;
  }

  &__expiry-container {
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin: 5px 0 8px;
  }

  &__expiry-field {
    width: 150px;
  }

  &__card-logo {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__error {
    position: absolute;
  }
}

.netbank {
  margin-bottom: -8px;

  &__list {
    margin-top: 24px;
    margin-bottom: 8px;
  }

  &__title {
    text-transform: uppercase;
    font-size: 0.9rem;
    margin-top: 8px;
    color: var(--color-secondary);
  }

  &__img {
    height: 36px;
  }
}

.error-pay {
  &__cont {
    padding: 52px;
    display: flex;
    flex-direction: column;
    font-weight: 500;
  }

  &__img {
    margin: 16px 0;
  }

  &__title {
    margin-bottom: 12px;
  }

  &__action {
    margin-top: 100px;
  }
}
