@import '../../../vendor/styles/variables.css';

.thank-you-page {
  margin: 1.6rem auto;
  background-color: white;

  &__content {
    padding: 12rem 31rem;
    text-align: center;

    &__title {
      padding-top: 4rem;
      padding-bottom: 1rem;
      color: var(--color-secondary);
    }
  }

  &__bottom-img {
    width: 100%;
    margin-bottom: -0.4rem;
  }
}
