@import '../../vendor/styles/variables.css';

.blogs {
  padding-bottom: 3.2rem;
  background-color: #fff;

  &__blog {
    margin-left: 1rem;
  }

  &__list {
    display: flex;
  }

  &__desc-title {
    text-transform: uppercase;
    text-align: center;
    padding: 1.2rem 0 2.4rem;
    color: var(--color-secondary);
    font-size: 1.2rem;
  }

  &__blog-image {
    width: 32rem;
    height: 16rem;
  }

  &__slide {
    display: flex;
  }

  &__blog-desc {
    margin: 1.6rem 0;
  }
}
