@import '../../../vendor/styles/variables.css';

.rtwp {
  padding: 3.2rem 2.4rem;
  border-bottom: solid 0.1px var(--color-quaternary);

  &__details {
    margin-bottom: 1.6rem;
  }

  &__desc {
    color: var(--color-secondary);
    display: flex;

    &-items {
      margin-left: 1rem;
    }
  }

  &__type {
    text-transform: uppercase;
    margin-bottom: 0.8rem;
  }

  &__size {
    display: inline-block;
  }

  &__desc-icons {
    font-size: 1.2rem;
    margin-right: 0.8rem;
  }

  &__sd {
    margin-left: 16px;
    text-transform: none;
  }

  &__selected {
    text-align: center;
    color: var(--color-primary);
    font-weight: 400;
  }

  &__select {
    width: 100%;
  }

  &__selected-icon {
    font-size: 1.8rem;
  }
}
