@import '../../vendor/styles/variables.css';

.ssrp {
  margin-bottom: 50px;

  &__section {
    padding: 52px 16px;
    background-color: var(--color-quinary);

    &:nth-child(2n) {
      background-color: #fff;
    }
  }

  &__section-heading {
    color: var(--color-secondary);
    font-weight: 800;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
  }

  &__filter {
    padding: 4px 0;
    left: 8px;
    background: #fff;
    text-transform: uppercase;

    &__item {
      height: 40px;
      line-height: 40px;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;

      &__sort, 
      &__filter {
        font-size: 1rem;
        margin: 0;
      }

      & + & {
        border-left: 1px solid var(--color-quinary);
      }
    }
  }

  &__no-results {
    text-align: center;
    padding: 16px;

    &__head {
      margin-top: 160px;
    }

    &__title {
      color: var(--color-secondary);
    }
  }
}
