@import '../../vendor/styles/variables.css';

.occupancy {
  height: 5rem;
  align-items: center;
  z-index: 11;

  &__caret {
    font-size: 1.6rem;
    transform-origin: 50% 50%;
    margin-left: auto;
    transform: rotate(0deg);
    transition: transform 0.2s;
    align-self: center;

    &--open {
      transform: rotate(180deg);
    }
  }

  &__dd {
    display: none;
    min-width: 100%;
    top: 100%;
    left: 0;
    z-index: 115;
    background-color: #fff;
    box-shadow: var(--shadow-primary);

    &--show {
      display: flex;
    }
  }

  &__header {
    display: flex;
    width: 100%;
    cursor: pointer;
    padding: 0 1.6rem;
    height: 100%;
  }

  &__title {
    align-self: center;
  }

  &__options {
    display: none;
    flex-basis: 100%;
    flex-direction: column;

    &--show {
      display: flex;
    }

    &__item {
      padding: 0 1.6rem;
      height: 5rem;
      line-height: 5rem;
      cursor: pointer;
      background-color: #fff;
      color: var(--color-secondary);
      font-weight: 500;

      &:hover {
        background-color: var(--color-quaternary);
      }

      &--selected {
        background-color: var(--color-tertiary) !important;
        cursor: default;
        color: #fff;
      }
    }
  }

  &__room-config {
    display: none;
    width: 33.2rem;

    &__kids {
      align-items: center;
      justify-content: space-between;
    }

    &--show {
      display: flex;
    }
  }
}

.config-options {
  width: 100%;
  padding: 0.8rem 0;

  &__list {
    max-height: 20rem;
    overflow: auto;
  }

  &__item {
    padding: 0.8rem 1.6rem;
  }
}

.room-config {
  & .select {
    width: 100%;
  }

  /* &--title {
    padding: 0.8rem 1.6rem 0;
    font-size: 1.4rem;
    color: var(--color-tertiary);
  } */

  &__rooms {
    width: 6rem;
    font-size: 1.4rem;
    margin-right: 1.6rem;
    font-weight: 500;
    color: var(--color-secondary);
  }

  &__adults {
    width: 7.2rem;
    margin-right: 1.6rem;
    align-items: center;
    display: flex;
  }

  &__kids {
    margin-right: 1.6rem;
    align-items: center;
  }

  &__remove-link {
    cursor: pointer;

    &:hover {
      color: var(--color-secondary);
    }
  }

  &__action {
    &__item {
      flex-basis: 50%;
      font-size: 1.2rem;
      height: 3.3rem;

      &--add {
        margin-right: 1.6rem;
      }
    }
  }
}

.search-box {
  &__label {
    font-size: 1.4rem;
    color: var(--color-secondary);
    font-weight: 500;
  }

  &__placeholder {
    color: var(--color-tertiary);
    font-weight: 400;
  }
}
