@import '../../../vendor/styles/variables.css';

.hotel {
  padding: 0 16px;
  margin: 12px 0px 8px;

  &__name {
    color: var(--color-secondary);
  }

  &__price {
    margin: 0;
  }

  &__selling-price {
    margin: 0 4px 4px 0;
  }

  &__discount-percentage {
    font-weight: 500;
    color: var(--color-primary);
    display: inline-block;
    margin: 0 0 4px 4px;
  }

  &__incl-taxes {
    margin-bottom: 0;
  }

  &__special-deal {
    margin-top: 4px;
  }

  &__review {
    margin: 0;

    &__image {
      width: 20px;
      margin-right: 4px;
      background: transparent;
    }
  }

  &__cf {
    margin-top: 12px;
    margin-bottom: 18px;
  }
}
