@import '../../../../vendor/styles/variables.css';

.bhli {
  margin-bottom: 8px;
  border-bottom: 1px solid var(--color-quaternary);
  background-color: #fff;

  &__image {
    padding: 0 16px;
    width: 100%;
    height: 120px;

    &--grayscale {
      filter: grayscale(100%);
    }

    &--preview {
      background-color: var(--color-quinary);
    }
  }

  &__status {
    color: #fff;
    padding: 4px 8px;
    display: inline-block;
    border-radius: 2px;
    text-transform: capitalize;

    &--confirmed {
      background-color: var(--color-link);
    }

    &--temporary {
      background-color: var(--color-error);
    }

    &--cancelled,
    &--past {
      background-color: var(--color-secondary);
    }
  }

  &__details {
    padding: 8px 16px 16px;
  }

  &__name {
    font-weight: 500;
  }

  &__description {
    font-weight: 400;
  }

  &__link {
    padding: 8px;
    display: inline-flex;
  }

  &__dates-container {
    margin-top: 16px;
  }

  &__date {
    font-weight: 500;
  }

  &__info-box {
    margin: 16px;
    margin-top: 0;
    background-color: color(var(--color-error) alpha(10%));
  }

  &__info-container {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    font-weight: 500;
    color: var(--color-error);
  }
}
