@import '../../vendor/styles/variables.css';

.navbar {
  position: relative;
  z-index: 3;
  background: #fff;
  box-shadow: var(--shadow-primary);
  color: var(--color-secondary);

  &--transparent {
    background: transparent;
    box-shadow: none;
    color: #fff;
  }

  &__header {
    height: 6rem;
    display: flex;
    align-items: center;
  }

  &__menu-items-container {
    margin-left: auto;
  }

  &__contact {
    display: inline-flex;
    align-items: center;
    margin-left: 16px;
  }

  &__icon {
    margin: 0 12px;
    font-size: 2.2rem;
    font-weight: 600;

    &-call {
      font-size: 2rem;
    }

    &-question {
      font-size: 1.5rem;
      margin: 2px 5px 0 4px;
      font-weight: 600;
      display: inline-block;
    }
  }

  &__link {
    cursor: pointer;
  }

  &__logo {
    font-size: 0;

    &__img {
      width: 10rem;
    }
  }

  &__login {
    margin-left: 3.2rem;
  }

  & .dd-menu .dd-menu-items {
    margin-top: 1.6rem;
    width: 20rem;

    & ul {
      color: var(--color-secondary);

      &::before {
        border-bottom: 0.6rem solid #fff;
        border-left: 0.6rem solid transparent;
        border-right: 0.6rem solid transparent;
        top: -0.6rem;
        right: 0.6rem;
        content: "";
        position: absolute;
        width: 0;
        height: 0;
      }

      & li {
        font-size: 1.1rem;

        & .menu-icon {
          margin-right: 1.6rem;
        }

        & a {
          padding: 1.65rem 3.2rem;
          cursor: pointer;
          border-bottom: 0.1rem solid var(--color-quinary);
        }

        & :hover:not([role="separator"]):not(.separator),
        & > *:focus {
          background-color: var(--color-quinary);
          font-weight: 500;
        }
      }
    }
  }
}
