@import '../../../vendor/styles/variables.css';

.coupon-item {

  &__save {
    position: relative;
    padding-left: 28px;

    &::before {
      font-family: 'icomoon' !important;
      font-size: 20px;
      content: '\e913';
      color: var(--color-primary);
      position: absolute;
      top: -2px;
      left: 0;
    }
  }
}
