@import '../../../vendor/styles/variables.css';

.er {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 12px 10px;
  background-color: var(--color-sandy-beach);
  line-height: 1.4;

  &--border {
    border: 1px solid var(--color-golden-tainoi);
    border-radius: 2px;
  }

  &__icon {
    font-size: 16px;
    margin-right: 4px;

    @media (--medium-screen) {
      font-size: 18px;
    }
  }
}
