@import '../../vendor/styles/variables.css';

.DateRangePicker {
  width: 100%;

  &_picker {
    z-index: 1000 !important;
  }

  &__picker {
    top: 5rem;
    left: 0.1rem;
    z-index: 115;
  }
}

.DateRangePickerInput {
  border: 0.1rem solid var(--color-quaternary);
  border-width: 0 0.1rem;
  text-align: center;
  height: 5rem;
  width: 100%;

  & .DateInput {
    width: 45%;
    height: 100%;

    &_input {
      text-align: center;
      font-weight: 500;
      font-size: 1.4rem;
      margin-top: 10px;
      color: var(--color-secondary);
      padding: 4px;

      &__focused {
        background-color: var(--color-tertiary);
        color: #fff;
        border-radius: 0.2rem;
        border-bottom: none;
        width: 88%;
      }
    }

    &--with-caret {
      &::before,
      &::after {
        display: none;
      }
    }
  }
}

.DayPicker {
  &--horizontal {
    border-radius: 0;
    box-shadow: var(--shadow-primary);
  }
}

.DayPickerNavigation {
  &_button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 0.1rem solid var(--color-quaternary);
    border-radius: 0 !important;
    height: 3.2rem;
    width: 4rem;
    color: var(--color-tertiary);

    &:hover {
      border-color: var(--color-tertiary);
      background-color: var(--color-tertiary);
      color: #fff;
    }
  }
}

.CalendarMonth {
  &_caption {
    color: var(--color-secondary);
    font-size: 1.4rem;
    margin-top: 1.1rem;
  }
}

.CalendarDay {
  font-size: 1.2rem;

  &__selected_span,
  &__hovered_span,
  &:hover {
    border-color: var(--color-quaternary);
    background-color: var(--color-quaternary);
    color: #fff;
  }

  &__selected_start,
  &__selected_end,
  &:hover {
    border-color: var(--color-tertiary);
    background-color: var(--color-tertiary);
    color: #fff;
  }
}

.DayPickerKeyboardShortcuts_buttonReset {
  display: none;
}
