@import '../../vendor/styles/variables.css';

.landing-page {
  margin-top: -6rem;

  &__search-container {
    width: 100%;
    position: relative;
    z-index: 2;
  }

  &__banner {
    &__body {
      background-size: cover;
      background-position: center;
      height: 55.6rem;
      display: flex;
      align-items: center;
      position: relative;
    }

    &__title {
      font-size: 3rem;
      color: #fff;
      margin-bottom: 0.8rem;
    }

    &__subtitle {
      font-size: 1.6rem;
      font-weight: 400;
      color: #fff;
      margin-bottom: 2.4rem;
    }

    &__city {
      background: #fff;
      position: relative;
      box-shadow: var(--shadow-primary);
    }
  }

  &__search-widget {
    box-shadow: var(--shadow-primary);
  }
}

.lp-search-widget {
  padding: 1.6rem;
  transition: background 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;

  &--sticky & {
    background: color(var(--color-quaternary) alpha(-5%));
    z-index: 1111;

    & .search-widget {
      box-shadow: var(--shadow-primary);
    }
  }
}

.lp-offers {
  &__image {
    width: 100%;
  }

  &__item {
    min-width: 40%;

    &:nth-child(n+3) {
      margin-top: 1.6rem;
    }
  }
}

.lp-testimonials {
  &__list {
    margin-bottom: 1.6rem;
  }

  &__img {
    border-radius: 50%;
    width: 10.5rem;
    height: 10.5rem;
    border: 0.3rem solid transparent;
    padding: 0.4rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &--active {
      border-color: var(--color-primary);
    }
  }

  &__list {
    padding: 0 28rem;
    justify-content: space-between;
  }

  &__user {
    visibility: hidden;
    color: var(--color-secondary);
    margin-top: 0.8rem;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;

    &--visible {
      visibility: visible;
    }
  }

  &__item {
    text-align: center;
  }

  &__text {
    font-size: 2.1rem;
    line-height: 1.6;
  }
}

.lp-marketing {
  justify-content: space-between;

  &__item {
    position: relative;
    text-align: center;
  }

  &__text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #fff;
    font-size: 3rem;
    background-image: linear-gradient(138deg, rgba(174, 174, 174, 0.44), rgba(0, 0, 0, 0.4));
  }
}

.all-city {
  height: 6rem;

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
  }

  &__item {
    white-space: nowrap;

    &:last-child {
      font-weight: 800;
    }
  }

  &__link {
    padding: 1rem 0;
    text-transform: uppercase;
    color: var(--color-tertiary);

    &:hover {
      color: var(--color-secondary);
    }

    &--all {
      color: var(--color-secondary);

      &:hover {
        color: #000;
      }
    }
  }
}

.section {
  padding: 6rem 0;
  background-color: #fff;

  &:nth-of-type(odd) {
    background-color: var(--color-quinary);
  }

  &__title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0.8rem;
  }

  &__subtitle {
    text-align: center;
    margin-bottom: 2.4rem;
    color: var(--color-tertiary);
  }

  &__subtitle-items {
    margin: 0 0.6rem;
  }

  &__subheading {
    font-size: 2.1rem;
    font-weight: 500;
    letter-spacing: 0.1;
    color: var(--color-secondary);
  }
}

.lp-rewards {
  margin-top: 5.5rem;
  margin-bottom: 5.5rem;
  padding: 1.2rem;
  padding-top: 0;

  &--logo {
    width: 248px;
  }

  &__subtitle {
    margin-bottom: 5.5rem;
  }

  &__explore {
    font-size: 2rem;
    padding-top: 1rem;
  }

  &__intro {
    line-height: 1.56;
    padding-top: 0.4rem;
    font-family: var(--font-secondary);
    margin-top: 3.2rem;
    margin-bottom: 2.8rem;
  }

  &__tile {
    padding-left: 32px;

    &__body {
      width: 280px;
      height: 280px;
      padding: 2rem;
      padding-left: 3.2rem;
      border: 1px solid var(--color-quaternary);
      background-color: #fff;

      &--img {
        margin-top: 3.2rem;
      }

      &--header {
        margin-top: 2.8rem;
        margin-bottom: 1.6rem;
        color: var(--color-secondary);
        font-weight: 500;
      }

      &--subheader {
        line-height: 20px;
      }
    }
  }
}

.lp-initiatives {
  &__heading {
    margin-bottom: 2.4rem;
  }

  &__info {
    margin-top: 0.8rem;
    line-height: 1.8;
    margin-bottom: 1.6rem;
  }

  &__item {
    justify-content: space-between;

    & + & {
      margin-top: 6rem;
    }
  }
}

.lp-promises {
  justify-content: space-between;

  &__title {
    margin-bottom: 0.8rem;
    text-transform: uppercase;
  }

  &__text {
    line-height: 1.8;
  }

  &__img {
    margin: 4rem 0;
  }
}

.lp-awards {
  &__title {
    margin-bottom: 0.8rem;
    text-transform: uppercase;
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__text {
    line-height: 1.8;
    margin-top: auto;
  }

  &__img {
    margin: 4rem 0;
  }
}

.lp-joinus {
  height: 20rem;
  border-radius: 0.2rem;
  display: flex;

  &__image {
    height: 100%;
    width: 100%;
  }
}

