@import '../../../../vendor/styles/variables.css';

.facilities {
  padding: 16px 16px 0;

  &__title {
    color: var(--color-secondary);
    font-weight: 500;
    margin-bottom: 16px;
  }

  &__description {
    color: var(--color-tertiary);
    margin-bottom: 20px;
  }

  &__item {
    line-height: 1.5;

    &--strike {
      text-decoration: line-through;
      color: var(--color-quaternary);
    }
  }

  &__default-icon {
    height: 18px;
    width: 18px;
    margin-right: 12px;

    &::after {
      content: '\e91f';
      color: var(--color-secondary);
      font-size: inherit;
      margin-bottom: 8px;
    }
  }
}
