@import '../../../vendor/styles/variables.css';

.rtx {
  display: flex;
  margin: 0;
  padding-top: 24px;

  &__header {
    margin-bottom: 16px;
  }

  &__title {
    margin: 0 0 4px;
    font-weight: 500;

    &--striked {
      color: var(--color-tertiary);
      text-decoration: line-through;
    }
  }

  &__details {
    width: 100%;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--color-quaternary);
    margin-left: 16px;
  }

  &__credit {
    background-color: var(--color-quinary);
    padding: 12px 16px;
    border-radius: 2px;

    &--expired {
      padding: 2px 8px;
      background-color: var(--color-tertiary);
      border-radius: 2px;
      margin-right: 4px;
      color: #fff;
    }

    &__title {
      margin-bottom: 0;
    }

    &__amount {
      font-size: 12px;
      color: var(--color-tertiary);
    }

    &__expires-on {
      font-size: 10px;
    }

    & + & {
      margin-top: 8px;
    }
  }
}
