@import '../../vendor/styles/variables.css';

.slider {
  &__arrow {
    position: absolute;
    top: 50%;
    z-index: 1;
    color: var(--color-secondary);
    background: #fff;
    padding: 0;
    height: 4rem;
    width: 1.6rem;
    border-radius: 0.4rem;

    &--large {
      width: 3.2rem;
      height: 6.4rem;
      font-size: 2.4rem;
    }

    &:hover {
      background-color: var(--color-quinary);
    }

    &--left {
      left: 0;
      transform: translate(-50%, -50%);
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &--right {
      right: 0;
      transform: translate(50%, -50%);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &__dots {
    display: flex !important;
    justify-content: center;
    position: absolute;
    bottom: -3.6rem;
    width: 100%;

    & li {
      & button {
        font-size: 0;
        line-height: 0;
        display: flex;
        height: 2rem;
        padding: 0.5rem;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: none;
        background: transparent;

        &::before {
          font-family: 'icomoon';
          font-size: 1.2rem;
          content: "\f111";
          text-align: center;
          opacity: 0.35;
          color: var(--color-tertiary);
          -webkit-font-smoothing: antialiased;
        }

        &:hover,
        &:focus {
          outline: none;
        }

        &:hover::before,
        &:focus::before {
          opacity: 1;
        }
      }
    }

    & li.slick-active {
      & button::before {
        color: var(--color-quinary);
        opacity: 0.75;
      }
    }
  }
}
