@import '../../vendor/styles/variables.css';

.results-page {
  padding: 1.6rem 0 3.2rem;
  background: var(--color-quinary);

  &__info {
    margin: 2rem 0;
    min-height: 5rem;
  }

  &__quality-guarantee-banner {
    margin-bottom: 2.4rem;
  }

  &__header {
    color: var(--color-secondary);
    font-size: 2rem;
    text-transform: uppercase;
  }

  &__query-container {
    flex-basis: 100%;
    margin-bottom: 1.6rem;

    &__title {
      font-size: 1.4rem;
      color: var(--color-tertiary);
      line-height: 1.3;
    }

    &__query {
      font-size: 1.8rem;
      line-height: 1.3;
      font-weight: 500;
      color: var(--color-secondary);
    }
  }

  &__results {
    background: #fff;
    border-radius: 0.2rem;
    box-shadow: var(--shadow-primary);
  }

  &__single-result-text {
    padding: 3.2rem;
    text-align: center;
    line-height: 1.6;
    text-transform: uppercase;
    color: var(--color-primary);
  }

  & .col-9 {
    min-height: 50.4rem;
  }

  &__seo-content {
    margin: 3.2rem 0;
  }
}

.results-empty {
  padding: 10rem 1.6rem;
  text-align: center;
  color: var(--color-secondary);
  line-height: 1.4;

  &__title {
    font-size: 1.8rem;
  }

  &__sub {
    color: var(--color-tertiary);
  }

  &__icon {
    font-size: 2.4rem;
    color: var(--color-tertiary);
  }
}

.r-list {
  &__item {
    padding: 1.6rem;

    & + & {
      border-top: 0.1rem solid var(--color-quaternary);
    }
  }
}

.r-hotel {
  &__image {
    width: 18rem;
    margin-right: 1.6rem;
    height: 13.5rem;
    cursor: pointer;

    &--soldout {
      filter: grayscale(1);
    }
  }

  &__incl-tax {
    font-size: 1rem;
    text-align: right;
  }

  &__content {
    flex: 1;
  }

  &__name {
    line-height: 1;

    &:hover {
      color: var(--color-primary);
      cursor: pointer;
    }
  }

  &__award-img {
    position: relative;
    top: 0.5rem;
  }

  &__head {
    justify-content: space-between;
  }

  &__footer {
    margin-top: auto;
    justify-content: space-between;
  }

  &__distance {
    font-size: 1.4rem;
    color: var(--color-secondary);
    max-width: 35rem;
    padding-left: 0.8rem;
  }

  &__rating-reviews {
    padding-top: 0.4rem;

    &__link {
      font-size: 0;
      cursor: pointer;
    }

    &__image {
      height: 1.6rem;
    }

    &__total {
      color: var(--color-primary);
      padding-left: 0.8rem;
      margin-top: 0.2rem;
      cursor: pointer;
    }
  }

  &__action {
    height: 4rem;
    line-height: 4rem;
    width: 16rem;

    &__icon {
      margin-right: 1.2rem;
    }
  }

  &__price {
    text-align: right;
    margin-bottom: 0.4rem;

    &--soldout {
      color: var(--color-error);
      font-size: 1.6rem;
    }
  }

  &__sd {
    margin-top: 0.8rem;
  }
}

.r-discount {
  &__coupon {
    color: var(--color-primary);
    margin: 0 1.6rem 0.4rem 0;
  }

  &__price {
    text-decoration: line-through;
  }
}

.rp-aside {
  background-color: #fff;
  border-radius: 0.2rem;
  box-shadow: var(--shadow-primary);
  margin-bottom: 1.6rem;

  &__section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.6rem;
    border-bottom: 0.1rem solid var(--color-quinary);

    &__header {
      display: flex;
      align-items: center;
      flex-basis: 100%;
      justify-content: space-between;
    }
  }

  &__toggle-icon {
    text-align: right;
    cursor: pointer;
  }

  &__clear-all {
    font-size: 1.2rem;
    text-align: right;
    cursor: pointer;
  }
}

.rp-filter {
  &__available {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__input {
      margin-top: 4px !important;
      display: block;
    }
  }

  &__list {
    flex-basis: 100%;
    margin-top: 1.6rem;
    max-width: 100%;

    &__item {
      color: var(--color-secondary);
      margin-left: 0.2rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:not(:last-child) {
        margin-bottom: 1.6rem;
      }
    }
  }

  &__show-action {
    text-align: right;
    text-transform: uppercase;
    font-size: 1.2rem;
  }

  &__couple-friendly {
    flex-direction: column;
    align-items: flex-start;

    &__header {
      margin-top: 4px;
      margin-bottom: 8px;
      color: var(--color-secondary);
      display: flex;
    }

    &__input-label {
      margin-left: 8px;
    }

    &__chip {
      margin-left: 4px;
    }
  }
}

.rp-sort {
  &__active {
    margin-top: 1.6rem;
    text-transform: capitalize;
    cursor: pointer;
  }

  &__item {
    color: var(--color-secondary);
    margin-top: 1.6rem;
    text-transform: capitalize;
    cursor: pointer;

    &--selected {
      color: var(--color-primary);
    }
  }
}
