@import '../../../vendor/styles/variables.css';

.srh {
  padding: 12px 16px;
  border-bottom: 1px solid var(--color-quaternary);

  &__breadcrumbs {
    min-height: 17px;
    margin-bottom: 8px;

    &__item {
      display: inline-block;

      &:last-child {
        pointer-events: none;
      }

      & + & {
        & .srh__breadcrumbs__link::before {
          position: relative;
          font-family: 'icomoon';
          content: '\e911';
          left: 0;
          top: 2px;
        }
      }
    }
  }

  &__heading {
    text-transform: uppercase;
  }
}
