@import '../../../vendor/styles/variables.css';

.wt {
  &__promise:not(:last-child) {
    margin-bottom: 24px;
  }

  &__heading {
    font-weight: 600;
    margin-bottom: 0;
  }

  &__image {
    margin-right: 12px;
  }

  &__text {
    padding-top: 8px;
    line-height: 1.5;
    margin-bottom: 0;
  }
}
