@import '../../../vendor/styles/variables.css';

.srf {
  &__description {
    padding: 12px 16px;

    &__text {
      height: 76px;
      overflow: hidden;
      margin-bottom: 4px;

      &--more {
        height: auto;
      }

      & .heading-1 {
        font-size: 1.6rem;
      }

      & p {
        font-size: 1.2rem;
      }
    }
  }

  &__title {
    font-weight: 500;
    color: var(--color-secondary);
  }

  &__links {
    background: var(--color-quinary);
    padding-top: 24px;

    &:last-of-type {
      padding-bottom: 24px;
    }

    &__title {
      font-weight: 500;
      margin-bottom: 12px;
      padding-left: 16px;
      color: var(--color-secondary);
    }

    &__list {
      display: flex;
      overflow: auto;
      white-space: nowrap;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__item {
      background: #fff;
      color: var(--color-link);
      font-weight: 500;
      padding: 8px 16px;
      border-radius: 48px;
      margin-left: 12px;
    }
  }
}
