@import '../../vendor/styles/variables.css';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1050;
  background-color: rgba(33, 33, 33, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;

  &__dialog {
    outline: none;
  }
}
