.container {
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.row {
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  margin-right: -8px;
  margin-left: -8px;
}

.row--start {
  justify-content: flex-start;
  text-align: start;
}

.row--center {
  justify-content: center;
  text-align: center;
}

.row--end {
  justify-content: flex-end;
  text-align: end;
}

.row--top {
  align-items: flex-start;
}

.row--baseline {
  align-items: baseline;
}

.row--middle {
  align-items: center;
}

.row--bottom {
  align-items: flex-end;
}

.row--around {
  justify-content: space-around;
}

.row--between {
  justify-content: space-between;
}

.row--reverse {
  flex-direction: row-reverse;
}

.col,
.col--1,
.col--2,
.col--3,
.col--4,
.col--5,
.col--6,
.col--7,
.col--8,
.col--9,
.col--10,
.col--11,
.col--12 {
  flex: 0 0 auto;
  padding-right: 8px;
  padding-left: 8px;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  width: 100%;
}

.col--1 {
  flex-basis: 8.333%;
  width: 8.333%;
}

.col--2 {
  flex-basis: 16.667%;
  width: 16.667%;
}

.col--3 {
  flex-basis: 25%;
  width: 25%;
}

.col--4 {
  flex-basis: 33.333%;
  width: 33.333%;
}

.col--5 {
  flex-basis: 41.667%;
  width: 41.667%;
}

.col--6 {
  flex-basis: 50%;
  width: 50%;
}

.col--7 {
  flex-basis: 58.333%;
  width: 58.333%;
}

.col--8 {
  flex-basis: 66.667%;
  width: 66.667%;
}

.col--9 {
  flex-basis: 75%;
  width: 75%;
}

.col--10 {
  flex-basis: 83.333%;
  width: 83.333%;
}

.col--11 {
  flex-basis: 91.667%;
  width: 91.667%;
}

.col--12 {
  flex-basis: 100%;
  width: 100%;
}

.col--offset-1 {
  margin-left: 8.333%;
}

.col--offset-2 {
  margin-left: 16.667%;
}

.col--offset-3 {
  margin-left: 25%;
}

.col--offset-4 {
  margin-left: 33.333%;
}

.col--offset-5 {
  margin-left: 41.667%;
}

.col--offset-6 {
  margin-left: 50%;
}

.col--offset-7 {
  margin-left: 58.333%;
}

.col--offset-8 {
  margin-left: 66.667%;
}

.col--offset-9 {
  margin-left: 75%;
}

.col--offset-10 {
  margin-left: 83.333%;
}

.col--offset-11 {
  margin-left: 91.667%;
}

.col--first {
  order: -1;
}

.col--last {
  order: 1;
}

.col--reverse {
  flex-direction: column-reverse;
}
