@import '../../vendor/styles/variables.css';

.seo-results-page {
  padding: 1.6rem 0 3.2rem;
  margin-top: -7.6rem;
  background: var(--color-quinary);

  &__banner-body {
    margin-bottom: 2rem;
    height: 29rem;
    align-items: center;
    position: relative;
  }

  &__banner {
    width: 100%;
    height: 29rem;
    filter: brightness(0.5);
  }

  &__quality-guarantee-banner {
    margin-bottom: 2.4rem;
  }

  &__info {
    margin: 2rem 0;
    min-height: 5rem;
  }

  &__header {
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    padding-bottom: 0.8rem;
  }

  &__search-widget {
    box-shadow: var(--shadow-primary);
  }

  &__query {
    position: relative;
    top: -19rem;
  }

  &__query-container {
    flex-basis: 100%;
    margin-bottom: 1.6rem;
    text-align: center;

    &__title {
      color: white;
      font-size: 1.4rem;
      line-height: 1.3;
    }

    &__query {
      font-size: 1.8rem;
      line-height: 1.3;
      font-weight: 500;
      color: var(--color-secondary);
    }
  }

  &__search {
    position: relative;
    top: -20rem;

    & .sticky-inner-wrapper {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 20;
    }
  }

  &__breadcrumb {
    margin-bottom: 2rem;
  }

  &__results {
    background: #fff;
    border-radius: 0.2rem;
    box-shadow: var(--shadow-primary);
  }

  &__single-result-text {
    padding: 3.2rem;
    text-align: center;
    line-height: 1.6;
    text-transform: uppercase;
    color: var(--color-primary);
  }

  &__bodyRow {
    flex-direction: row-reverse;
  }

  & .col-9 {
    min-height: 50.4rem;
  }

  &__seo-content {
    margin-top: 3.2rem;
    padding: 3.2rem 0;
    background: white;
  }

  &__qnas {
    background: white;
    margin-top: 1rem;
    padding: 3.2rem 0;
  }

  &__weather-map-section {
    display: flex;
  }
}

.seo-search-widget {
  padding: 1.6rem;
  transition: background 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;

  &--sticky & {
    background: color(var(--color-quaternary) alpha(-5%));
    z-index: 1111;

    & .search-widget {
      box-shadow: var(--shadow-primary);
    }
  }
}

.results-empty {
  padding: 10rem 1.6rem;
  text-align: center;
  color: var(--color-secondary);
  line-height: 1.4;

  &__title {
    font-size: 1.8rem;
  }

  &__sub {
    color: var(--color-tertiary);
  }

  &__icon {
    font-size: 2.4rem;
    color: var(--color-tertiary);
  }
}

.r-list {
  &__item {
    padding: 1.6rem;

    & + & {
      border-top: 0.1rem solid var(--color-quaternary);
    }
  }
}

.r-hotel {
  &__image {
    width: 18rem;
    margin-right: 1.6rem;
    height: 13.5rem;
    cursor: pointer;

    &--soldout {
      filter: grayscale(1);
    }
  }

  &__incl-tax {
    font-size: 1rem;
    text-align: right;
  }

  &__content {
    flex: 1;
  }

  &__name {
    line-height: 1;

    &:hover {
      color: var(--color-primary);
      cursor: pointer;
    }
  }

  &__award-img {
    position: relative;
    top: 0.5rem;
  }

  &__head {
    justify-content: space-between;
  }

  &__footer {
    margin-top: auto;
    justify-content: space-between;
  }

  &__distance {
    font-size: 1.4rem;
    color: var(--color-secondary);
    max-width: 35rem;
    padding-left: 0.8rem;
  }

  &__rating-reviews {
    padding-top: 0.4rem;

    &__link {
      font-size: 0;
      cursor: pointer;
    }

    &__image {
      height: 1.6rem;
    }

    &__total {
      color: var(--color-primary);
      padding-left: 0.8rem;
      margin-top: 0.2rem;
      cursor: pointer;
    }
  }

  &__action {
    height: 4rem;
    line-height: 4rem;
    width: 16rem;

    &__icon {
      margin-right: 1.2rem;
    }
  }

  &__price {
    text-align: right;
    margin-bottom: 0.4rem;

    &--soldout {
      color: var(--color-error);
      font-size: 1.6rem;
    }
  }

  &__sd {
    margin-top: 0.8rem;
  }
}

.r-discount {
  &__coupon {
    color: var(--color-primary);
    margin: 0 1.6rem 0.4rem 0;
  }

  &__price {
    text-decoration: line-through;
  }
}

.rp-aside {
  background-color: #fff;
  border-radius: 0.2rem;
  box-shadow: var(--shadow-primary);
  margin-bottom: 1.6rem;

  &__section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.6rem;
    border-bottom: 0.1rem solid var(--color-quinary);

    &__header {
      display: flex;
      align-items: center;
      flex-basis: 100%;
      justify-content: space-between;
    }
  }

  &__toggle-icon {
    text-align: right;
    cursor: pointer;
  }

  &__clear-all {
    font-size: 1.2rem;
    text-align: right;
    cursor: pointer;
  }
}

.rp-filter {
  &__available {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__input {
      margin: 0 !important;
    }
  }

  &__list {
    flex-basis: 100%;
    margin-top: 1.6rem;
    max-width: 100%;

    &__item {
      color: var(--color-secondary);
      margin-left: 0.2rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:not(:last-child) {
        margin-bottom: 1.6rem;
      }
    }
  }

  &__show-action {
    text-align: right;
    text-transform: uppercase;
    font-size: 1.2rem;
  }

  &__couple-friendly {
    flex-direction: column;
    align-items: flex-start;

    &__header {
      margin-top: 4px;
      margin-bottom: 8px;
      color: var(--color-secondary);
      display: flex;
    }

    &__input-label {
      margin-left: 8px;
    }

    &__chip {
      margin-left: 4px;
    }
  }
}

.rp-sort {
  &__active {
    margin-top: 1.6rem;
    text-transform: capitalize;
    cursor: pointer;
  }

  &__item {
    color: var(--color-secondary);
    margin-top: 1.6rem;
    text-transform: capitalize;
    cursor: pointer;

    &--selected {
      color: var(--color-primary);
    }
  }
}

.rp-seocontent {
  padding-bottom: 3.2rem;
  background-color: #fff;

  &__desc-title {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 1.2rem 0 2.4rem;
    color: var(--color-secondary);
  }

  &__city {
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  &__content {
    text-align: justify;
  }

  &__read-link {
    color: var(--color-link);
    cursor: pointer;
  }

  &__read-more-less {
    padding: 0;
  }
}

.near-places {
  width: 100%;

  &__search {
    margin: 1rem 0;
    padding-top: 0.8rem;
    border-top: 0.2rem solid var(--color-quinary);
    border-bottom: 0.2rem solid var(--color-quinary);
    height: 40px;
  }

  &__search-input {
    border: none;
    width: 93%;
    padding-left: 1.2rem;
    color: var(--color-tertiary);
  }

  &__list {
    margin: 1rem 0;
    max-height: 20rem;
    overflow: scroll;
  }

  &__list-item {
    margin-bottom: 1.2rem;
    color: var(--color-secondary);
  }
}

.assured-amenities {
  background-color: #457a88;
  padding: 1.6rem;
  color: white;

  &__title {
    color: white;
    font-weight: 500;
    padding-bottom: 0.4rem;
  }

  &__subtitle {
    color: white;
    font-size: 1.2rem;
  }

  &__list {
    display: flex;
    margin-top: 1.2rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    text-align: center;
    max-width: 2.5rem;

    & + & {
      margin-left: 2rem;
    }
  }

  &__icon {
    font-size: 2.4rem;
    margin-bottom: 0.8rem;
  }
}

.seo-reviews {
  padding-bottom: 3.2rem;
  background-color: #fff;

  &__desc-title {
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1.2rem 0 2.4rem;
    color: var(--color-secondary);
  }

  &__review-section {
    display: flex;
    justify-content: space-between;
  }

  &__review-desc {
    margin-top: 0.8rem;
    height: 10rem;
    color: var(--color-secondary);
  }

  &__arrows {
    width: 22px;
    height: 22px;
    font-size: 1.6rem;
    color: #fff;
    border-radius: 50%;
    background-color: var(--color-tertiary);

    &:hover {
      background-color: var(--color-tertiary);
    }
  }

  &__review {
    padding: 2.8rem;
    height: 240px;
    width: 480px !important;
    margin: 0 16px;
    background-color: var(--color-quinary);
    border: 1px solid var(--color-quinary);
    border-radius: 3px;

    &__hotel-link {
      color: var(--color-secondary);
    }

    &__title {
      margin-top: 1.6rem;
      font-weight: 500;
      color: var(--color-secondary);
    }
  }

  &__detail {
    margin-top: 2rem;
  }

  &__ta-image {
    position: relative;
    display: inline-block !important;
    bottom: -0.4rem;
  }

  &__user {
    position: relative;
    top: 0.8rem;
    float: right;
    font-style: italic;
  }
}

.weather-widget {
  padding: 2.4rem 3.2rem;
  width: 60%;
  border: 1px solid var(--color-quaternary);

  &__title {
    padding-bottom: 2rem;
    color: var(--color-secondary);
    font-weight: 500;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    text-align: center;
  }

  &__temp {
    color: var(--color-secondary);
    font-weight: 500;
  }

  &__image {
    height: 3.2rem;
    margin-bottom: 0.4rem;
  }
}
