@import '../../vendor/styles/variables.css';

button {
  font-family: system-ui;
}

.button {
  color: #fff;
  padding: 0 16px;
  text-transform: uppercase;
  white-space: nowrap;
  border: none;
  height: 40px;
  border-radius: 2px;

  &--primary {
    background: var(--color-primary);
  }

  &--secondary {
    background: transparent;
    color: var(--color-primary);
    border: solid 1px var(--color-primary);
    box-shadow: none;
  }

  &--tertiary {
    background: #fff;
    color: var(--color-secondary);
  }

  &--link {
    color: var(--color-link);
    background: transparent;
    padding: 0;
  }

  &--disabled {
    pointer-events: none;
    background: var(--color-tertiary);
  }

  &--preview {
    background: var(--color-quaternary);
    color: transparent;
  }

  &--block {
    width: 100%;
  }

  &--flat {
    border-radius: 0;
  }

  &--large {
    height: 48px;
    font-size: 1.6rem;
    font-weight: 600;
  }

  &--bold {
    font-weight: 600;
  }

  &--round {
    width: 50px;
    height: 50px;
    background: #fff;
    border: solid 1px color(var(--color-secondary) alpha(15%));
    border-radius: 50%;
  }
}
