@import '../../vendor/styles/variables.css';

.qna {
  margin-bottom: 16px;
  text-align: left;

  &__no-answers {
    font-weight: 300;
  }

  &__search {
    border: 1px solid var(--color-quaternary);
    display: flex;
    margin: 8px 0 16px;
    padding: 12px;

    &--focused {
      border: 1px solid var(--color-primary);
    }

    &__input {
      border: none;
      font-weight: 300;
      padding: 0;
      width: 100%;
    }
  }

  &__qna-container {
    border-bottom: 1px solid var(--color-quaternary);
    margin-bottom: 20px;

    &:last-child {
      border: none;
      margin-bottom: 0;
    }
  }

  &__question {
    display: flex;
    align-items: flex-start;

    &__text {
      font-weight: 500;
    }
  }

  &__answer {
    align-items: flex-start;
    display: flex;
    margin-top: 20px;

    &__text {
      opacity: 0.8;
    }
  }

  &__icon {
    margin-right: 8px;
    height: 100%;

    &--verified {
      margin-right: 4px;
    }
  }

  &__load-more-action {
    padding: 0 16px;
  }

  &__show-more-action {
    padding: 0 28px 8px;
  }
}
