@import '../../../vendor/styles/variables.css';

.other-results {
  &__title {
    font-weight: 500;
    color: var(--color-secondary);
    text-transform: uppercase;
    margin: 0;
  }

  &__content {
    margin-bottom: 16px;
  }

  &__links {
    background: #fff;
    color: var(--color-link);
    padding: 8px 16px;
  }
}
