@import '../../vendor/styles/variables.css';

.show-more {
  overflow: hidden;

  &__icon {
    position: relative;
    top: 0.3rem;
    font-size: 1.6rem;
    font-weight: 600;
    margin-left: 1.6rem;
  }

  &__action {
    padding: 16px;
    color: var(--color-link);
    cursor: pointer;
  }
}
