@import '../../vendor/styles/variables.css';

.chip {
  width: 4rem;
  height: 1.6rem;
  font-size: 1rem;
  padding-top: 0.2rem;
  display: inline-block;
  text-align: center;
  border-radius: 100px;

  &--golden-tainoi {
    background-color: var(--color-golden-tainoi);
    color: #fff;
  }

  &--blue {
    background-color: var(--color-link);
    color: #fff;
  }
}
