@import '../../../vendor/styles/variables.css';

.au {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;

  &__container {
    box-shadow: var(--shadow-primary);
  }

  &__email-subheader {
    padding-top: 1rem;
    font-size: 1.4rem;
    color: var(--color-tertiary);
    text-align: center;
    font-weight: normal;
  }

  &__subheader {
    margin-top: 4.4rem;
    font-size: 1.2rem;
    color: var(--color-tertiary);
    font-weight: 400;
  }

  &__social {
    margin: 16px 0 42px;
    display: flex;
    justify-content: space-between;
  }

  &__button {
    height: 5rem;
    width: 100%;
  }

  &__link {
    margin-top: 32px;
    color: var(--color-secondary);
  }

  &__alert {
    margin: 8px 0 0;
    font-weight: 500;
    color: var(--color-secondary);
    background-color: var(--color-sandy-beach);
    bottom: 0;
    width: 92%;
    margin-left: 3.9rem;
    position: absolute;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.mb-login {
  padding-top: 6.2rem;
  padding-bottom: 6.2rem;
}

.email-login {
  position: relative;
  padding-top: 12rem;

  &__form {
    &__email {
      margin-bottom: 2.4rem;
    }

    &__password {
      margin-bottom: 1.2rem;
    }
  }
}

.login {
  &__page {
    background: #fff;

    &__why-treebo {
      height: 100%;
    }

    &__error {
      position: relative;
    }
  }

  &__button {
    margin: 72px 0;
  }
}

.forgot-pass {
  background: #fff;

  &__form {
    padding-top: 10.8rem;
    padding-left: 167px;
    padding-right: 180px;
  }

  &__body {
    position: relative;

    &--text {
      margin-bottom: 4.8rem;
      line-height: 2;
      font-weight: normal;
      color: var(--color-secondary);
    }
  }
}

.signup {
  &-page {
    background: #fff;
    padding: 50px 40px;
  }
}
