@import '../../../vendor/styles/variables.css';

.bhcp {
  &__container {
    padding: 24px;
  }

  &__message {
    color: var(--color-tertiary);
    margin: 16px 0 32px;
  }

  &__reasons-container {
    margin-top: 24px;
    margin-bottom: 40px;
  }

  &__reason {
    padding: 8px 0;
    margin-bottom: 4px;
  }
}
