@import '../../vendor/styles/variables.css';

.nd {
  &__icon {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
    font-size: 2.4rem;
    z-index: 1050;

    @media (--medium-screen) {
      font-size: 2.6rem;
    }
  }

  &__container {
    padding: 16px;
  }

  &__version {
    bottom: 16px;
    width: 100%;
    position: absolute;
    text-align: center;
  }

  &__ts {
    padding: 16px 12px;

    &__title {
      font-size: 1.4rem;

      @media (--medium-screen) {
        font-size: 1.6rem;
      }
    }
  }
}
