@import '../../../vendor/styles/variables.css';

.rt {
  padding: 0 16px;
  margin-bottom: 12px;

  &__sop {
    padding: 16px 8px;
    background-color: color(var(--color-quaternary) alpha(10%));
    border: 1px solid var(--color-quaternary);
    border-radius: 2px;

    &__cta {
      color: var(--color-link);
      margin-top: 8px;
      position: relative;
      display: flex;
      align-items: center;
    }
    &__tag {
      margin-bottom: 8px;
    }
  }

  &__cr {
    padding: 16px 16px 102px;
  }

  &__sh-rooms {
    margin: 0 -16px;
  }

  &__room {
    padding: 16px 0;

    &__title-container {
      margin: 0 0 10px;
    }

    &__title {
      margin-right: 10px;
      text-transform: uppercase;
    }

    &__details {
      color: var(--color-secondary) !important;
      margin-top: -8px;

      &__size {
        margin-right: 10px;
      }

      &__occupancy {
        margin-left: 10px;
      }
    }

    & + & {
      border-top: solid 0.5px var(--color-quinary);
    }

    &--hide {
      display: none;
    }

    &__sd {
      padding: 0;
    }
  }
}
