@import '../../../vendor/styles/variables.css';

.rtxl {
  padding: 0 16px 32px;

  &__image {
    display: block;
    width: 176px;
    height: 104px;
    margin: 28px auto 36px;
  }

  &__title {
    margin-bottom: 18px;
  }
}
