@import '../../vendor/styles/variables.css';

.input {
  position: relative;
  padding: 20px 0;
  margin-bottom: 12px;

  &__field {
    border: 1px solid var(--color-quaternary);
    border-width: 0 0 1px;
    font-size: 1.6rem;
    padding: 8px 0;
    width: 100%;

    &:focus {
      & ~ .input__label {
        transform: translate(0, 0);
        font-size: 1.1rem;
        color: var(--color-primary);
      }
    }

    &--error {
      border-color: var(--color-error) !important;
    }

    &[type="radio"] {
      margin-right: 8px;
      width: auto;

      & + .input__label {
        position: static;
        color: var(--color-secondary);
        pointer-events: all;
        font-size: inherit;
      }
    }
  }

  &__label {
    flex-basis: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: text;
    pointer-events: none;
    transform: translate(0, 30px);
    transition: all 0.15s ease-in-out;
    font-size: 1.6rem;
    color: var(--color-quaternary);

    &--has-value {
      transform: translate(0, 0);
      font-size: 12px;
      color: var(--color-secondary);
    }

    &&&--error {
      color: var(--color-error);
    }
  }

  &__error-message {
    flex-basis: 100%;
    color: var(--color-error);
    text-align: left;
    margin-top: 4px;
    font-size: 1.2rem;
  }
}
