@import '../../../vendor/styles/variables.css';

.lf {
  &__error {
    height: 48px;
    width: 100%;
    background-color: var(--color-quinary);

    &__text {
      line-height: 48px;
      color: var(--color-secondary);
      margin: 0;
    }
  }
}
