@import '../../../vendor/styles/variables.css';

.rwl {
  &__container {
    padding: 30px 40px 10px 60px;
    background: #fff;
  }

  &__info {
    margin-bottom: 9.8rem;

    &__earn-text {
      margin-top: 0.4rem;
      margin-bottom: 5.2rem;
      padding-left: 2.4rem;

      &--header {
        color: var(--color-secondary);
        font-weight: 500;
        font-size: 2rem;
      }
    }

    &--rate-img {
      margin-bottom: 10.4rem;
    }

    &--earn-img {
      margin-bottom: 5.2rem;
    }

    &--rate-text {
      margin-top: 1rem;
      margin-bottom: 8rem;
      padding-left: 2.4rem;
    }
  }

  &__banner {
    display: flex;
    margin-top: 2rem;
  }

  &__intro {
    font-size: 2.8rem;
    font-weight: 800;
    margin-top: 1.6rem;
    text-transform: uppercase;
    font-family: var(--font-primary);
    line-height: 0.71;
    color: var(--color-secondary);
    margin-bottom: 1rem;

    &--sub {
      margin-bottom: 6.2rem;
    }
  }

  &--margin-bottom {
    margin-bottom: 0.8rem;
  }

  &__conversion-info {
    margin-top: 2rem;
    margin-bottom: 2.8rem;
    width: 30%;
    background-color: var(--color-quinary);
    color: var(--color-secondary);
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
  }

  &__earn-info {
    background-color: #fff;

    &__container {
      padding: 60px 40px 60px 60px;
      background-color: color(var(--color-quinary) alpha(30%));
    }

    &--step-img {
      margin-bottom: 2.4rem;
    }

    &--step-header {
      margin-bottom: 0.4rem;
      color: var(--color-secondary);
      font-weight: 500;
    }

    &--step-subheader {
      line-height: 1.2;
    }
  }

  &__book-button {
    width: 36.8rem;
    margin-bottom: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__more {
    padding-left: 5.8rem;

    &--link {
      margin-left: 0.4rem;
    }
  }
}
