@import '../../vendor/styles/variables.css';

.otp {
  padding: 16px;

  &__subtitle {
    line-height: 1.5;
  }

  &__edit {
    font-size: 1.4rem;
    padding-left: 5px;
  }

  &__action {
    margin-left: 4px;
  }

  &__btn {
    margin: 16px 0 0;
  }
}
