@import '../../vendor/styles/variables.css';

.hd {
  &-section {
    background: #fff;
    margin-top: 2.4rem;
    border-radius: 0.2rem;

    &__header {
      padding: 2.4rem;
      margin-bottom: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-transform: uppercase;
    }

    &__banner {
      padding-left: 2rem;
      padding-right: 2rem;
      border-bottom: 0.1rem solid var(--color-quinary);
    }

    &__body {
      padding: 2.4rem;
    }

    &__footer {
      padding: 2.4rem;
      border-top: 0.1rem solid var(--color-quaternary);
    }

    &__text {
      font-weight: 400;
      color: var(--color-secondary);
      line-height: 2.1rem;
    }

    &__reviews {
      border-bottom: 0.1rem solid var(--color-quaternary);
    }
  }

  &-hotel-section {
    padding: 1.6rem 0;
    margin-top: 0;
    border-bottom: 0.1rem solid var(--color-quinary);
    box-shadow: var(--shadow-primary);
  }

  &-hotel {
    margin: 3rem 0;

    &__info {
      padding-left: 4rem;
      display: flex;
      flex-direction: column;
      position: relative;
      justify-content: space-between;
      padding-bottom: 2rem;
    }

    &__amenities {
      background-color: #fff;
      border-radius: 0.2rem;
      margin-top: 2.4rem;
      border: 0.1rem solid var(--color-quaternary);
    }

    &__amenities-title {
      background: var(--color-quinary);
      font-size: 1.2rem;
      padding: 1.4rem;
    }

    &__amenity-list {
      display: flex;
      padding-bottom: 1.4rem;
    }

    &__title {
      font-size: 2.4rem;
      text-transform: uppercase;
      display: flex;
    }

    &__address {
      max-width: 25rem;
      line-height: 1.4;
    }

    &__overall-rating {
      padding-top: 0.8rem;
    }

    &__rating {
      display: flex;
      margin: 0.4rem 0;
    }

    &__review-count {
      padding-left: 0.4rem;
      color: var(--color-primary);
      cursor: pointer;
    }

    &__rating-img {
      height: 1.6rem;
      position: relative;
      left: -0.3rem;
      cursor: pointer;
    }

    &__award {
      display: flex;
      padding-top: 0.4rem;
    }

    &__award-img {
      height: 2.4rem;
      padding-bottom: 0.1rem;
    }

    &__price {
      font-size: 2.8rem;
      font-weight: 500;
      color: var(--color-secondary);
      min-height: 3.2rem;
    }

    &__price-start {
      font-size: 1.6rem;
      font-weight: 300;
      margin-left: 1rem;
      text-decoration: line-through;
      color: var(--color-tertiary);
    }

    &__price-icon {
      font-weight: 400;
    }

    &__price-discount {
      margin-left: 0.8rem;
      font-size: 1.4rem;
      font-weight: 400;
    }

    &__sold-text {
      font-size: 1.8rem;
      font-weight: 400;
    }

    &__sold-out {
      width: 70%;
      position: relative;
      top: 2rem;

      &__title {
        font-size: 1.2rem;
        color: var(--color-secondary);
      }
    }

    &__book {
      display: inline-block;
      width: 24rem;
      height: 5rem;
      line-height: 5rem;
      font-size: 1.6rem;
    }

    &__secondary {
      margin-top: 0.8rem;
      display: flex;
      justify-content: space-between;
    }

    &__carousel {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      min-height: 44.2rem;

      &--soldout {
        filter: grayscale(100%);
        z-index: 111;
      }
    }

    &__mini-carousel {
      width: 47rem;

      & .slick-slide {
        padding-right: 0.2rem;
      }
    }

    &__secondary-label {
      display: inline-block;
      margin: 0.4rem 0 0;
      cursor: pointer;
    }

    &__map-thumbail {
      display: flex;
      flex-direction: column;

      &__image {
        height: 6rem;
      }
    }
  }

  &-details {
    padding-bottom: 2.4rem;
    padding-top: 2.4rem;

    &__navbar {
      display: flex;

      &--sticky & {
        background: white;
        box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.16);
        z-index: 1111;

        & .hd-details__nav-price-container {
          display: flex;
        }
      }
    }

    & .sticky-inner-wrapper {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 20;
    }

    &__navbar-container {
      background-color: white;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }

    &__nav-items {
      display: flex;
      padding-left: 1.6rem;
    }

    &__nav-item {
      height: 5.5rem;
      margin: 0.5rem 3rem 0 0;
      align-items: center;
      display: flex;
      border-bottom: 0.5rem solid transparent;

      &:hover {
        color: var(--color-primary);
      }

      &--active {
        border-bottom-color: var(--color-primary);
        color: var(--color-primary);
        font-weight: 600;
      }

      &--active .hd-details__nav-item-highlight {
        border-bottom: 3px solid;
        padding-bottom: 2rem;
        cursor: pointer;
      }
    }

    &__nav-item-highlight {
      cursor: pointer;
    }

    &__nav-price-container {
      display: none;
      justify-content: flex-end;
      align-items: center;
    }

    &__nav-price {
      font-size: 2.6rem;
      font-weight: 500;
      color: var(--color-secondary);
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-right: 1.6rem;
      line-height: 0.85;
    }

    &__nav-book {
      width: 16rem;
      font-size: 1.6rem;
      height: 4rem;
      line-height: 4rem;
    }

    &__show-more-less {
      height: 4.8rem;
      width: 100%;
      background-color: #fff;
      border-top: 1px solid #f1f1f1;
      position: relative;
      text-align: right;
    }
  }

  &-amenities {
    &__list {
      display: flex;
      margin-top: 1.2rem;
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1.2rem;
      text-align: center;
      max-width: 8.5rem;

      & + & {
        margin-left: 2rem;
      }
    }

    &__images {
      height: 2.4rem;
      padding-bottom: 0.8rem;
    }
  }

  &-promises {
    &__title {
      margin-bottom: 0.8rem;
      text-transform: uppercase;
    }

    &__text {
      line-height: 2.5rem;
      max-width: 30rem;
    }

    &__img {
      margin-bottom: 1.6rem;
    }
  }

  &-config {
    margin-top: 2rem;

    &__list {
      display: flex;
    }

    &__item {
      margin-right: 1.6rem;
    }

    &__value {
      font-size: 1.8rem;
      font-weight: 500;
      color: var(--color-secondary);
    }
  }

  &-gallery {
    width: 100rem;
    padding-bottom: 3.2rem;

    &__title {
      text-transform: uppercase;
      margin-bottom: 1.6rem;
      font-size: 2.4rem;
      color: var(--color-tertiary);
    }

    &__filters {
      margin-bottom: 2rem;
    }

    &__filters-list {
      display: flex;
      border-bottom: 0.1rem solid var(--color-tertiary);
    }

    &__filters-item {
      text-transform: capitalize;
      flex-basis: 15%;
      padding: 1rem 0;
      margin-bottom: -0.1rem;
      border-bottom: 0.3rem solid transparent;
      cursor: pointer;
      text-align: center;
      font-weight: 600;
      font-size: 1.6rem;

      &--active {
        color: var(--color-quinary);
        border-bottom-color: var(--color-primary);
      }

      &:hover {
        color: var(--color-quinary);
      }
    }

    &__close {
      float: right;
      font-size: 1.6rem;
      cursor: pointer;
      line-height: 2.7rem;
      color: var(--color-quinary);
    }
  }

  &-facilities {
    padding-bottom: 2rem;

    &__title {
      color: var(--color-secondary);
      font-weight: 500;
      padding-bottom: 1rem;
    }

    &__item {
      line-height: 2.6;
      color: var(--color-tertiary);

      &--strike {
        color: var(--color-quaternary);
        text-decoration: line-through;
      }
    }
  }

  &-similar {
    &__item {
      display: block;
      border: 0.1rem solid var(--color-quinary);
    }

    &__image {
      display: block;
      width: 100%;
      height: 13.6rem;
    }

    &__details {
      padding: 0.8rem;

      &__price {
        color: var(--color-secondary);

        &--striked {
          color: var(--color-tertiary);
          margin-left: 0.4rem;
          text-decoration: line-through;
        }
      }

      &__distance {
        margin-top: 1.4rem;
      }
    }

    &__title {
      margin-top: 0.4rem;
      text-transform: uppercase;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &-trilights {
    list-style: inherit;
    margin-left: 1.6rem;
  }

  &-about {
    &__address {
      font-size: 1.4rem;
    }
  }

  &-policy {
    &__desc {
      color: var(--color-tertiary);
    }
  }

  &-policies {
    padding-bottom: 2.4rem;

    &__title {
      color: var(--color-secondary);
      font-weight: 500;
      padding-bottom: 0.8rem;
    }

    &__description {
      line-height: 2rem;
    }
  }

  &-nearby-place {
    padding-bottom: 2rem;

    &__title {
      color: var(--color-secondary);
      font-weight: 500;
      padding-bottom: 1rem;
    }

    &__item {
      line-height: 2;
    }
  }

  &-distance {
    color: var(--color-tertiary);
  }
}

.essentials-amenities {
  & .hd-amenities {
    width: 50%;

    &__list {
      padding: 0 1.6rem;
      justify-content: space-between;
    }

    &__item {
      margin-left: 0;
    }
  }
}

.reviews-ratings {
  padding-bottom: 2rem;

  &__ratings {
    border-bottom: 0.1rem solid var(--color-quaternary);
    padding-bottom: 2rem;
  }

  &__write-read {
    padding-top: 2rem;

    &__write-link {
      color: var(--color-secondary);
      font-weight: 500;
      padding-left: 0.8rem;
    }

    &__write-btn {
      width: 20rem;
      border: 0.2rem solid var(--color-primary);
    }

    &__read-link {
      padding-left: 5.2rem;
    }
  }

  &__partnership {
    color: var(--color-secondary);
    padding-top: 3.6rem;
    padding-left: 0.8rem;
    display: flex;

    &__img {
      padding-left: 0.4rem;
      height: 2rem;
    }
  }
}

.ta-section {
  background: #fff;
  border-radius: 0.2rem;
}

.positive-feedback {
  padding-bottom: 4.4rem;

  &__list-item {
    padding-bottom: 3.6rem;
  }

  &__icon {
    display: inline-block;
    margin-right: 1.2rem;
    position: relative;
    top: -2.6rem;
  }

  &__feedback {
    display: inline-block;
  }

  &__title {
    font-size: 1.6rem;
    padding-bottom: 1.2rem;
  }

  &__description {
    font-size: 1.6rem;
    color: var(--color-secondary);
  }
}

.seo-linksfooter__filters-item {
  flex-basis: 25%;
}

.seo-linksfooter__content {
  background-color: white;
}

.facilities-icon-image {
  margin-right: 1.6rem;
  height: 1.8rem;
  width: 1.8rem;
  position: relative;
  top: 0.2rem;

  &::after {
    content: '\e928';
    font-size: 1.4rem;
    color: var(--color-secondary);
  }
}

.feedback-icon-image {
  margin-right: 1rem;
  height: 2rem;
  width: 2rem;

  &::after {
    content: '\e928';
    font-size: 1.4rem;
    color: var(--color-secondary);
  }
}

.hd-hotel {
  &__price {
    margin-top: 1rem;
  }

  &__payment-info {
    margin-top: 1rem;
  }

  &__wallet-price {
    margin-bottom: 1rem;
  }

  &__coupon {
    margin-bottom: 3.2rem;

    &__code {
      color: var(--color-secondary);
      font-weight: 500;
    }
  }

  &__award {
    margin-bottom: 2rem;
  }

  &__rate-plan {
    margin-left: 1rem;
  }
}

.hd-section {
  &__view-other-rooms {
    padding: 3rem;
    text-align: right;

    &__link {
      cursor: pointer;
    }

    &__modal {
      overflow: scroll;
    }
  }

  &__other-rooms {
    background-color: #fff;
    position: absolute;
    left: 20rem;
    top: 12rem;

    &__close {
      position: relative;

      &__icon-div {
        float: right;

        &-icon {
          position: fixed;
          font-size: 1.6rem;
          cursor: pointer;
          line-height: 2.7rem;
          margin-left: 1rem;
          margin-top: -14.8rem;
          color: var(--color-quinary);
        }
      }
    }
  }
}

.hd-amenities {
  margin-bottom: 2rem;

  &__more {
    margin-top: -1.8rem;
    margin-left: 2.2rem;
    color: var(--color-link);
    cursor: pointer;

    &-number {
      font-size: 2rem;
    }

    &-text {
      font-size: 1.2rem;
    }
  }
}
