@import '../../vendor/styles/variables.css';

.cp {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border-bottom: 48px solid var(--color-quinary);

  &__container {
    padding: 0 24px;
    background: var(--color-quinary);
  }

  &__header {
    padding: 24px;
    margin-bottom: 12px;
  }

  &__heading {
    margin-bottom: 32px;
  }

  &__hotel-address {
    margin-bottom: 0;
  }

  &__hotel-directions {
    color: var(--color-primary);
    display: flex;
    align-items: center;
    margin: 4px 0;
    padding: 8px 0;
    position: relative;
  }

  &__directions-icon {
    position: absolute;
  }

  &__directions-text {
    line-height: 20px;
    height: 20px;
    padding-left: 32px;
    vertical-align: middle;
    display: inline-block;
  }

  &__treebo-rewards {
    padding: 12px;
    background-color: var(--color-sandy-beach);
    border: 1px solid var(--color-golden-tainoi);
    border-radius: 2px;

    &__text {
      color: var(--color-tundora);
    }
  }

  &__section {
    margin-bottom: 24px;

    &__text {
      margin-bottom: 0;
      margin-right: 4px;
    }
  }

  &__ntk {
    background: white;
    padding: 24px 0 24px 32px;
    border-top: 8px solid var(--color-quinary);
    border-bottom: 24px solid var(--color-quinary);
  }
}

.bd {
  background: white;
  border: 24px solid var(--color-quinary);
  display: block;
  box-shadow: var(--shadow-primary);

  &__container {
    padding: 24px;

    &--top {
      border-bottom: 2px dashed var(--color-quinary);
      position: relative;
    }

    &--top::before,
    &--top::after {
      display: inline-block;
      position: absolute;
      width: 22px;
      height: 22px;
      background: var(--color-quinary);
      border-radius: 50%;
      bottom: -12px;
      content: ' ';
    }

    &--top::before {
      left: -12px;
      box-shadow: inset -9px 0 15px -10px rgba(0, 0, 0, 0.21);
    }

    &--top::after {
      right: -12px;
      box-shadow: inset 9px 0 15px -10px rgba(0, 0, 0, 0.21);
    }
  }
}

@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

.payment-process span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.payment-process span:nth-child(2) {
  animation-delay: .2s;
}

.payment-process span:nth-child(3) {
  animation-delay: .4s;
}
