@import '../../../../vendor/styles/variables.css';

.ah {
  &__section {
    padding: 8px 16px;
  }


  &__nearby {
    &-title {
      margin: 24px 0 16px;
    }
    &-link {
      margin-bottom: 16px;
    }
  }

  &__title {
    font-weight: 500;
    color: var(--color-secondary);
  }

  &__text {
    line-height: 1.5;
    color: var(--color-tertiary);

    &:last-of-type {
      margin: 0;
    }
  }
}
