@import '../../vendor/styles/variables.css';

.search-input {
  position: relative;
  padding-right: 0;
  z-index: 115;

  &__loader {
    position: absolute;
    right: 0.8rem;
    top: 1.7rem;
    animation: spin 400ms infinite linear;
    width: 1.6rem;
    height: 1.6rem;
    box-sizing: border-box;
    border-radius: 50%;
    border: 0.2rem solid var(--color-quaternary);
    border-right-color: var(--color-tertiary);
    display: inline-block;
  }
}

.react-autosuggest {
  &__container {
    width: 100%;
    height: 5rem;
  }

  &__input {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0 1.6rem;
    font-weight: 500;
    font-size: 1.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: capitalize;

    &::placeholder {
      color: var(--color-tertiary);
      opacity: 1;
      font-weight: 400;
    }
  }

  &__suggestions-container {
    position: relative;
    background-color: #fff;
    overflow-y: auto;
    max-height: 26rem;
    box-shadow: var(--shadow-primary);
    z-index: 115;
    will-change: transform;
    transform: translate3d(0, 0, 0);
  }

  &__suggestion {
    color: var(--color-secondary);
    font-weight: 500;
    padding: 1.8rem 0.8rem;
    cursor: pointer;

    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__label {
      padding: 0 0.8rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__type {
      color: var(--color-tertiary);
      font-weight: 400;
      font-size: 1rem;
      text-transform: capitalize;
    }

    &--focused {
      color: #fff;
      background-color: var(--color-tertiary);

      & .react-autosuggest__suggestion__type {
        color: #fff;
      }
    }
  }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
