@import '../../vendor/styles/variables.css';

.formsy-input {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 1.6rem 0;

  &__field {
    flex-basis: 100%;
    border: 0.1rem solid var(--color-tertiary);
    border-width: 0 0 0.1rem;
    font-size: 1.6rem;
    padding: 0.8rem 0 0.4rem;

    &:focus {
      border-color: var(--color-tertiary);

      & ~ .formsy-input__label {
        transform: translate(0, 0.8rem);
        font-size: 1.1rem;
      }
    }

    &&--valid {
      border-color: var(--color-primary);
    }

    &--error {
      border-color: var(--color-error) !important;
    }

    &[type='radio'] {
      flex-basis: auto;
      display: inline;
      border: 0;

      & + .formsy-input__label {
        transform: none;
        transition: none;
        margin: auto 0;
        flex-basis: auto;
        position: static;
        display: inline;
        font-size: 1.4rem;
        color: var(--color-secondary);
      }
    }
  }

  &__label {
    flex-basis: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: text;
    pointer-events: none;
    transform: translate(0, 2.4rem);
    transition: all 0.15s ease-in-out;
    font-size: 1.6rem;

    &--has-value {
      transform: translate(0, 0.8rem);
      font-size: 1.2rem;
    }

    &--valid {
      color: var(--color-primary);
    }

    &--error {
      color: var(--color-error);
    }
  }

  &__error-message {
    flex-basis: 100%;
    color: var(--color-error);
    text-align: left;
    margin-top: 0.4rem;
  }
}
