@import '../../../vendor/styles/variables.css';

.ndm {
  position: relative;
  height: 100%;

  &__header {
    position: relative;
    padding: 24px 16px;
    margin: 0;
  }

  &__header::after {
    position: absolute;
    left: 16px;
    bottom: 12px;
    content: '';
    width: 24px;
    height: 1px;
    border-bottom: 2px solid var(--color-secondary);
  }

  &__footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 0 16px 16px;
  }
}
