@import '../../vendor/styles/variables.css';

.cities {
  &__header {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    min-height: 56px;
  }

  &__section-header {
    background-color: var(--color-quinary);
    padding: 16px;
  }

  &__back-btn {
    padding: 9px 16px 9px 0;
    margin-right: 0;
  }

  &__title {
    margin: 0;
  }

  &__name {
    text-transform: uppercase;
    padding: 16px;
    border-bottom: solid 1px var(--color-quaternary);
    display: block;
    margin-bottom: 0;
  }
}
