@import '../../vendor/variables.css';

.unavailable {
  background: #fff;

  &__title {
    color: var(--color-secondary);
    font-size: 3.5rem;
    margin: 7rem 0 3rem;
  }

  &__info {
    font-size: 1.4rem;
    color: var(--color-secondary);
  }

  &__image {
    display: flex;
  }

  &__city-links {
    font-size: 1.4rem;
    margin-top: 1.6rem;
    flex-wrap: wrap;

    &__title {
      margin-right: 0.6rem;
      color: var(--color-secondary);
      font-weight: bold;
      display: inline-block;
    }

    &__item {
      margin-right: 0.6rem;

      &::after {
        content: ',';
      }

      &:last-child {
        &::after {
          content: '';
        }
      }
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    min-height: 50rem;
    align-items: center;
  }
}
