@import '../../vendor/styles/variables.css';

.nyrt {
  padding: 8px;
  display: flex;
  align-items: center;
  border-radius: 2px;
  margin-bottom: 16px;
  border: solid 1px var(--color-error);
  background-color: var(--color-error-light);

  &__txt {
    margin: 0;
    line-height: 1.5;
  }
}
