@import '../../vendor/styles/variables.css';

.cart {
  background: #fff;
  box-shadow: var(--shadow-primary);
  border-radius: 0.2rem;

  &__image {
    display: block;
    width: 100%;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    height: 16.6rem;
  }

  &__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.6rem;
    border-bottom: 0.1rem solid var(--color-quinary);

    &__summary {
      padding-bottom: 0.8rem;
    }
  }

  &__apply-wallet {
    color: var(--color-secondary);
  }

  &__wallet-credit {
    background-color: var(--color-sandy-beach);
    color: var(--color-secondary);
    padding: 1.2rem;
    height: 6.2rem;
    line-height: 1.43;

    &__faq {
      padding-left: 0.4rem;
    }
  }

  &__address {
    font-size: 1.3rem;
    line-height: 1.4;
    margin-bottom: 1.6rem;
  }

  &__dates {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    justify-content: space-between;

    &__title {
      margin-bottom: 0.4rem;
    }
  }

  &__rooms {
    flex-basis: 50%;

    &__title {
      text-transform: capitalize;
      margin-bottom: 0.4rem;
    }
  }

  &__bill {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.2rem;

    &__sd {
      position: relative;
      color: var(--color-governor-bay);
      margin: 0;

      &::after {
        display: inline-block;
        width: 16px;
        height: 16px;
        content: "";
        background: url('https://images.treebohotels.com/images/hotrod/group-17.svg') no-repeat 0 0;
        background-size: 100%;
        position: absolute;
        right: -20px;
      }
    }

    &__tariff {
      color: var(--color-secondary);
      padding-bottom: 1.6rem;
      padding-top: 1.6rem;
      border-bottom: 1px solid var(--color-quinary);
      border-top: 1px solid var(--color-quinary);

      &__text {
        color: var(--color-secondary);
      }
    }

    &__treebo-points {
      padding-top: 0.4rem;
      color: var(--color-secondary);

      &__text {
        color: var(--color-secondary);
      }
    }

    &__price {
      color: var(--color-secondary);

      &--discount {
        color: var(--color-primary);
      }
    }

    &__coupon-discount {
      display: flex;
      justify-content: flex-end;
      width: 50%;
    }
  }

  &__total {
    &-text {
      color: var(--color-secondary);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-price {
      text-align: right;
      margin-bottom: 0.4rem;
    }
  }

  &__rate-plan-tag {
    margin-top: 0.4rem;
  }
}

.apply-coupon {
  width: 100%;

  &__placeholder {
    display: flex;
    width: 100%;
    justify-content: space-between;

    &__coupon {
      color: var(--color-secondary);
    }
  }

  &__error {
    color: var(--color-error);
    font-size: 1.2rem;
    margin-top: 0.8rem;
  }
}

.cart-breakup {
  width: 57.6rem;

  &__header {
    background-color: var(--color-quaternary);
    padding: 1.6rem 0;
    text-align: center;
  }

  &__body {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }

  &__prices {
    border-spacing: 1.6rem;
    width: 100%;
    align-self: center;
    border-bottom: 0.1rem solid var(--color-quinary);

    &-head {
      color: var(--color-secondary);
    }

    &-body {
      text-align: center;
    }
  }

  &__final {
    border-spacing: 3.6rem 1.6rem;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    font-size: 1.4rem;
    color: var(--color-tertiary);

    &__total {
      margin-top: 20px;
      border-top: 1px solid var(--color-quinary);
      padding-bottom: 1rem;
    }

    &-text {
      font-size: 1.6rem;
      font-weight: 500;
      color: var(--color-secondary);
    }

    &-price {
      font-weight: 600;
      color: var(--color-secondary);
      font-size: 1.8rem;
    }

    &-incl {
      color: var(--color-quaternary);
      font-size: 0.8rem;
      font-weight: 400;
      white-space: nowrap;
    }
  }
}
