@import '../../../vendor/styles/variables.css';

.el {
  padding: 16px 16px 48px;

  &__email-login {
    position: relative;
    margin-bottom: 12px;
  }

  &__forgot-password {
    color: var(--color-link);
    padding: 12px 0;
    margin-top: -20px;
  }

  &__sh-password {
    position: absolute;
    right: 0;
    bottom: 30px;
    color: var(--color-tertiary);
  }
}
