@import '../../../vendor/styles/variables.css';

.wallet {
  &__container {
    padding: 36px 40px 36px 24px;
    background: #fff;
    border: 1px solid color(var(--color-tertiary) alpha(50%));
    border-bottom: 0;
  }

  &__new-user {
    padding: 60px 40px 60px 60px;
    background: #fff;
    border: 1px solid color(var(--color-tertiary) alpha(50%));
    border-top: 1px solid var(--color-quinary);

    &--info {
      margin-top: 1rem;
      line-height: 1.5;
    }

    &--text {
      font-size: 1.8rem;
      color: var(--color-secondary);
    }

    &--img {
      margin-bottom: 3.2rem;
    }

    &--book-button {
      margin-top: 2.4rem;
      width: 28rem;
    }
  }

  &__banner {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 1.8rem;
  }

  &__balance {
    &--conversion {
      padding-top: 1.2rem;
      padding-bottom: 0.8rem;
      color: var(--color-secondary);
      font-size: 24px;
    }

    &--landing-link {
      padding-left: 1.2rem;
    }

    &--amount {
      font-size: 4.2rem;
    }
  }

  &-statement {
    margin-bottom: 7.2rem;
    border: 1px solid color(var(--color-tertiary) alpha(50%));
    border-top: 0;

    &__header {
      padding: 16px 40px 16px 24px;

      &--reward {
        color: var(--color-secondary);
      }

      &--transaction-info {
        color: var(--color-secondary);
      }

      &--amount {
        color: var(--color-secondary);
      }
    }

    &__statements {
      padding: 16px 40px 60px 24px;
      background: #fff;
    }

    &-item {
      padding-bottom: 2.8rem;
      padding-top: 2.8rem;
      border-bottom: 1px solid var(--color-quinary);

      &--particular {
        color: var(--color-secondary);
      }

      &--expired {
        text-decoration: line-through;
      }

      &__reward-details {
        &--expiry {
          font-size: 1.2rem;
          margin-top: 0.8rem;
          color: var(--color-secondary);
        }

        &--expired {
          padding: 4px 8px;
          border-radius: 0.2rem;
          background-color: var(--color-tertiary);
          color: #fff;
          font-size: 1.2rem;
          margin-right: 0.4rem;

          &-date {
            color: var(--color-error);
            font-size: 1.2rem;
          }
        }
      }

      &__transaction-info {
        &--created-at {
          font-size: 1.2rem;
          margin-top: 0.6rem;
        }
      }

      &__transaction-breakup {
        padding: 2rem;
        background-color: color(var(--color-quinary) alpha(50%));
        margin-top: 2rem;
        height: 8.37rem;
        border-radius: 2px;

        &--header {
          padding-bottom: 0.4rem;
          color: var(--color-tertiary);
        }

        &--expiry {
          font-size: 1.2rem;
          margin-top: 0.8rem;
        }
      }

      &__reward-amount {
        padding-bottom: 2.2rem;

        &--credit {
          color: var(--color-primary);
        }

        &--debit {
          color: var(--color-error);
        }
      }

      &__reward-breakup {
        margin-top: 1.8rem;
        padding: 3rem;
        padding-top: 2rem;
        height: 8.4rem;
        margin-left: -1.6rem;
        background-color: color(var(--color-quinary) alpha(50%));
        border-radius: 2px;

        &--amount {
          color: var(--color-secondary);
        }
      }
    }
  }
}
