@import '../../vendor/styles/variables.css';

.special-deals-tag {
  display: flex;
  align-items: center;
  padding: 12px 0;
  color: var(--color-governor-bay);
  border-radius: 10px;
  width: 120px;
  font-weight: bold;

  &__icon {
    font-size: 16px;
    margin-right: 4px;
  }

  @media (--medium-screen) {
    width: 132px;

    &__icon {
      font-size: 18px;
      margin-right: 6px;
    }
  }
}

