@import '../../vendor/styles/variables.css';

.qnas {
  margin-bottom: 16px;
  text-align: left;
  background: white;

  &__desc-title {
    text-transform: uppercase;
    text-align: center;
    padding: 1.2rem 0 2.4rem;
    color: var(--color-secondary);
    font-size: 1.2rem;
  }

  &__no-answers {
    font-weight: 300;
  }

  &__search {
    width: 100%;
    border: 1px solid var(--color-quaternary);
    border-radius: 0.4rem;
    display: flex;
    margin: 8px 0 16px;
    padding: 12px;

    &--focused {
      border: 1px solid var(--color-primary);
    }

    &__input {
      border: none;
      font-weight: 300;
      padding: 0;
      width: 100%;
    }
  }

  &__qna-container {
    border-bottom: 1px solid var(--color-quaternary);
    padding-top: 3.2rem;
    padding-bottom: 2.4rem;

    &:last-child {
      border: none;
      margin-bottom: 0;
    }
  }

  &__question {
    display: flex;
    align-items: flex-start;

    &__text {
      font-weight: 500;
      color: var(--color-secondary);
    }

    &__by {
      font-size: 1.2rem;
      color: var(--color-tertiary);
    }

    &__submit {
      margin: 1rem 0;
      color: var(--color-primary);
      font-size: 1.4rem;
      font-weight: 500;
    }
  }

  &__verified-icon {
    position: relative;
    top: 0.2rem;
    margin-right: 0.4rem;
  }

  &__answer {
    align-items: flex-start;
    display: flex;
    margin-top: 20px;

    &__text {
      font-size: 1.4rem;
      font-weight: 400;
      color: var(--color-tertiary);
    }

    &__by {
      font-size: 1.2rem;
      color: var(--color-tertiary);
    }
  }

  &__icon {
    height: 1.6rem;
    margin-right: 8px;
  }

  &__load-more-action {
    margin-top: 2rem;
    background: white;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    font-weight: 500;

    &:hover {
      background: var(--color-primary);
      color: white;
    }
  }
}
