@import '../../vendor/styles/variables.css';

.percentage {
  height: 0.1rem;
  background: var(--color-quinary);

  &__fill {
    height: 0.5rem;
    background: var(--color-primary);
    border-radius: 0.2rem;
    transform: translateY(-2px);
  }
}
