@import '../../../vendor/styles/variables.css';

.top-reasons {
  margin-bottom: 2.4rem;

  &__header {
    color: var(--color-secondary);
    padding-bottom: 1rem;
  }
}

.about-hotel {
  &__title {
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 2rem;
    color: var(--color-secondary);
  }

  &__section {
    margin-left: 2rem;
  }

  &__google-btn {
    color: var(--color-link);
    border-radius: 0.4rem;
    border: 0.2rem solid white;
    background: white;
    width: 18.4rem;
    height: 3.6rem;
    position: relative;
    top: -5.6rem;
    left: 6.4rem;
    font-size: 1.2rem;
    cursor: pointer;
  }

  &__google-btn-icon {
    font-weight: 600;
    padding-left: 1.2rem;
    position: relative;
    top: 0.1rem;
  }

  &__address {
    color: var(--color-secondary);
    line-height: 1.5;
    padding-bottom: 1.6rem;
  }

  &__description {
    line-height: 1.5;
  }

  &__read-link {
    color: var(--color-link);
    cursor: pointer;
  }

  &__nearby {
    display: flex;
    flex-direction: column;
    margin-top: 2.4rem;

    &__heading {
     color: var(--color-secondary);
    }

    &__link {
     margin-top: 1.6rem;
    }
  }
}
