@import '../../vendor/styles/variables.css';

.chip {
  border-radius: 12px;
  padding: 2px 8px;
  margin: 0px 8px 0px 8px;
  height: 22px;

  &--primary {
    border: solid 1px var(--color-trade-wind);
    color: var(--color-elm);
    background-color: var(--color-catskill-white);
  }

  &--secondary {
    background-color: var(--color-golden-tainoi);
    color: #fff;
  }
}
