@import '../../vendor/styles/variables.css';

.otp-screen {
  &__subtitle {
    padding: 20px 0;
    font-size: 1.4rem;
    line-height: 2rem;
  }

  &__edit {
    padding-left: 5px;
    cursor: pointer;
  }

  &__input {
    width: 28rem;
    border-width: 0;
    border-bottom: 1px solid #c4c4c4;
    padding-left: 0;
    padding-right: 2px;
    padding-bottom: 5px;
  }

  &__error-msg {
    font-size: 10px;
    color: red;
  }

  &__text {
    margin-top: 15px;
    font-size: 1.4rem;
  }

  &__action {
    cursor: pointer;
    margin-left: 4px;
  }

  &__verify-btn {
    width: 34rem;
    margin: 20px 0 0;
  }
}
