@import '../../vendor/styles/variables.css';

.faq-page {
  &__container {
    padding: 60px 40px 60px 60px;
    margin: 40px auto;
    background: #fff;
  }

  &__intro {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.sidebar {
  &__title {
    margin-top: 15px;
  }

  &__link {
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--color-primary);
    cursor: pointer;
  }
}

.faq-main {
  &__content {
    border-bottom: 1px solid var(--color-quaternary);
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  &__title {
    padding-bottom: 15px;
    padding-top: 20px;
  }

  &__subtitle {
    margin-bottom: 20px;
  }
}

.faq {
  &-data {
    margin-bottom: 10px;
  }

  &-p {
    color: var(--color-secondary);
  }

  &-li {
    color: var(--color-secondary);
  }

  &-ul {
    list-style-type: disc;
    margin-left: 24px;
  }

  &-link {
    text-transform: none;
    color: var(--color-primary);
    cursor: pointer;
  }
}

.qa {
  &__q {
    cursor: pointer;
    padding: 6px 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--color-secondary);
    font-size: 1.5rem;
    align-self: center;

    &:hover {
      background: #f9fafb;
    }

    &-ques {
      align-items: center;
      color: var(--color-primary);
    }
  }

  &__a {
    background: #f9fafb;
    padding: 8px;

    &-ans {
      color: var(--color-primary);
    }
  }
}
