@import '../../vendor/styles/variables.css';

.rate-plan-tag {
  font-size: 1.4rem;

  &--non-refundable {
    color: var(--color-golden-tainoi);
  }

  &--refundable {
    color: var(--color-primary);
  }
}
