@import '../../vendor/styles/variables.css';

.confirmation-page {
  padding: 1.6rem 0 3.2rem;

  &__wallet-banner {
    padding-bottom: 0 !important;
    padding-top: 14px !important;
  }

  &__quality-guarantee {
    padding-bottom: 1.2rem;
  }

  &__login {
    padding-bottom: 1.2rem;

    &__banner {
      padding: 2rem;
      padding-top: 3.6rem;
      padding-left: 2.8rem;
      background-color: var(--color-elm);

      &--benefits {
        padding-left: 1.2rem;
        color: #fff;

        & ul {
          list-style-type: disc;
          padding: 1.6rem;

          & li {
            padding-top: 0.8rem;
          }
        }
      }

      &--cta {
        margin-top: 3.6rem;

        &--button {
          background-color: #fff;
          color: var(--color-primary);
          padding-top: 1.2rem;
          border-radius: 2px;
          padding-bottom: 1.2rem;

          &:hover {
            background-color: #fff;
          }
        }
      }
    }
  }

  &__header {
    &__text {
      width: 40rem;
    }
  }

  &__booking-info {
    background: #fff;
    box-shadow: var(--shadow-primary);
  }

  &__item {
    padding: 2.4rem 1.6rem;
    border-bottom: 0.1rem solid var(--color-quinary);

    &--with-link {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &--gray {
      background: var(--color-quinary);
    }
  }

  &__bookin-id {
    margin-left: auto;
    align-self: flex-end;

    &__title {
      font-size: 1.2rem;
      color: var(--color-tertiary);
      margin-bottom: 0.4rem;
    }

    &__bid {
      font-weight: bold;
      color: var(--color-secondary);
    }
  }

  &__hotel-location {
    background: #fff;
    box-shadow: var(--shadow-primary);
    margin-top: 1.6rem;
  }

  &__partpay {
    background: var(--color-quinary);

    &__text {
      line-height: 1.4;
    }

    &__button {
      width: 100%;
    }
  }

  &__policy {
    &__info {
      margin-top: 1.6rem;
      line-height: 1.8;
      font-size: 1.2rem;
      color: var(--color-secondary);
    }

    &__more {
      text-align: right;
      margin-bottom: 2rem;

      & .text-link {
        text-transform: uppercase;
      }
    }
  }
}

.cp-hl {
  color: var(--color-secondary);

  &__hotel-name {
    font-weight: bold;
    text-transform: capitalize;
  }

  &__hotel-address {
    font-size: 1.2rem;
    margin-top: 0.8rem;
  }

  &__landmark {
    &__name {
      margin-top: 0.8rem;
    }

    &__title {
      font-weight: bold;
    }

    &__directions {
      font-size: 1.2rem;
      color: var(--color-tertiary);
      list-style: inherit;
      margin-left: 1.6rem;
      line-height: 1.4;
      margin-top: 0.4rem;
    }

    &__block {
      margin-bottom: 1.6rem;
    }
  }
}

.guest-info {
  line-height: 1.7;
  margin-top: 0.8rem;

  &__name {
    color: var(--color-secondary);
  }

  &__confirmation {
    color: var(--color-primary);
  }
}

.cph {
  &__head {
    color: var(--color-secondary);
  }

  &__subhead {
    color: var(--color-secondary);
    margin-bottom: 1.6rem;
  }

  &__subhead-info {
    font-size: 1.2rem;
    color: var(--color-tertiary);
  }
}
