@import '../../vendor/styles/variables.css';

.pay-tabs {
  display: flex;
  &__wallet {
    &-offer {
      font-size: 1.2rem;
      color: var(--color-tertiary);
      margin-top: 0.4rem;
    }
  }
}

.card-pay {
  padding: 0 40px;

  &__input-container {
    width: 350px;
  }

  &__input {
    padding-bottom: 4px;
  }

  &__number {
    background: url("./payment.png") no-repeat;
    padding-right: 60px;
    background-size: 318px 798px;

    &--default {
      background-position: 400px -300px;
    }

    &--amex {
      background-position: 225px -250px;
    }

    &--dankort {
      background-position: 225px -302px;
    }

    &--dinersclub {
      background-position: 225px -348px;
    }

    &--discover {
      background-position: 225px -389px;
    }

    &--jcb {
      background-position: 230px -440px;
    }

    &--maestro {
      background-position: 225px -500px;
    }

    &--mastercard {
      background-position: 225px -554px;
    }

    &--unionpay {
      background-position: 225px -607px;
    }

    &--visaelectron {
      background-position: 225px -662px;
    }

    &--visa {
      background-position: 225px -711px;
    }

    &--rupay {
      background-position: 225px -751px;
    }
  }

  &__label {
    font-size: 1.2rem;
  }

  &__error {
    font-size: 0.7em;
    margin-top: 4px;
  }

  &__expiry {
    margin: 16px 0;
  }

  &__expiry-container {
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin: 5px 0 8px;
  }

  &__expiry-field {
    width: 150px;
  }

  &__cvv-container {
    display: flex;
    align-items: center;
    width: 350px;
  }

  &__cvv {
    max-width: 50px;
  }

  &__cvv-details {
    display: flex;
    margin-left: 15px;
    align-items: center;
  }

  &__cvv-image {
    background: url("./payment.png") no-repeat -85px -378px;
    width: 124px;
    height: 40px;
    margin-bottom: -12px;
  }
}

.netbank {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0;

  &__default {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__default-item {
    cursor: pointer;
    border: 1px solid transparent;
    margin-bottom: 12px;
  }

  &__input-container {
    cursor: pointer;
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 140px;
    height: 50px;
    border: 1px solid var(--color-quinary);
  }

  &__display {
    background: url("./payment.png") no-repeat;

    &--axis {
      width: 94px;
      height: 24px;
      background-position: -86px -62px;
    }

    &--citibank {
      width: 82px;
      height: 25px;
      background-position: -244px -126px;
    }

    &--hdfc {
      width: 96px;
      height: 17px;
      background-position: -86px -130px;
    }

    &--kotak {
      width: 82px;
      height: 24px;
      background-position: -396px -64px;
    }

    &--sbi {
      width: 88px;
      height: 32px;
      background-position: -391px -120px;
    }

    &--icici {
      width: 94px;
      height: 23px;
      background-position: -238px -64px;
    }
  }

  &__list {
    margin-top: 20px;
  }

  &__list-select {
    width: 350px;
  }

  &__error {
    height: 17px;
    margin: 10px 0 0;
  }
}

.wallet {
  &__mobikwik {
    background: url("./payment.png") no-repeat;
    width: 88px;
    height: 32px;
    background-position: -86px -246px;
  }

  &__phonepe {
    background:url("https://images.treebohotels.com/images/pay.svg") no-repeat;
    width: 75px;
    height: 20px;
  }
}

/* React-tab styling */

.react-tabs {

  &__tab-list {
    background: var(--color-quinary);
  }

  &__tab {
    padding: 25px;
    cursor: pointer;
    width: 200px;

    &[aria-selected=true] {
      background: #fff;
      color: var(--color-primary);
    }

    &:hover {
      color: var(--color-primary);
    }
  }

  &__tab-panel {

    &--selected {
      padding: 40px 0;
      min-height: 300px;
      width: 100%;
    }
  }
}

.pah {
  padding-left: 2rem;
  padding-right: 2rem;
  line-height: 2rem;

  &__text {
    margin-top: 1rem;
  }

  &__button {
    margin-top: 8rem;
    text-align: center;
  }
}
