@import '../../../vendor/styles/variables.css';

.reviews {
  background-color: var(--color-quaternary);
  margin: 3rem auto;

  &-header {
    margin: 2rem 16rem;
    padding: 3.6rem 3.2rem;

    &__image {
      padding-left: 2rem;
    }

    &__guest {
      padding-top: 0.8rem;
      padding-bottom: 1.2rem;
      color: var(--color-secondary);
    }

    &__text {
      color: var(--color-secondary);
      font-size: 2rem;
    }
  }

  &-section {
    background-color: #fff;
    text-align: center;

    &__title {
      padding-top: 4rem;
      padding-bottom: 0.8rem;
      font-size: 2.8rem;
      color: var(--color-secondary);
    }

    &__form {
      padding: 3.6rem 18.2rem;
    }

    &__review-frame {
      width: 100%;
      height: 135vh;
      border: 0.2rem solid var(--color-quinary);
    }
  }

  &__bottom-img {
    padding-top: 4rem;
  }
}
