@import '../../../vendor/styles/variables.css';

.bhd {
  &__container {
    padding: 60px 40px 60px 60px;
    margin: 4rem auto;
    background: #fff;
  }

  &__heading {
    padding-top: 4rem;
  }

  &__icon {
    font-size: 2.2rem;
  }

  &__email {
    cursor: pointer;

    &-text {
      padding-top: 0.4rem;
    }

    &-sent {
      color: color(var(--color-primary-dark));
      padding-top: 1.6rem;
    }
  }

  &__part-pay-text {
    padding-top: 0.8rem;
  }

  &__cancelled {
    margin-top: 3.6rem;
    padding-top: 1.6rem;
    width: 100%;
    height: 5.2rem;
    background-color: color(var(--color-primary-light));
    color: color(var(--color-primary-dark));
    text-align: center;
  }

  &__form {
    padding-left: 1.2rem;

    &__submit {
      margin-top: 1.6rem;
    }
  }

  &__title {
    padding-top: 4rem;
    border-bottom: 1px solid color(var(--color-tertiary));
    margin-bottom: 2rem;
  }

  &__cancel {
    margin-top: 4rem;
  }

  &__pay {
    padding: 0.8rem;
  }

  &__info-payment {
    margin-top: 2rem;
  }
}
