@import '../../../vendor/styles/variables.css';

.ur {
  padding: 20px 0;

  & + & {
    border-top: 1px solid var(--color-quaternary);
  }

  &__hotel-name {
    color: var(--color-link);
    margin-bottom: 16px;
  }

  &__title {
    font-weight: 500;
    opacity: 0.7;
  }

  &__image-container {
    margin-bottom: 8px;
  }

  &__image {
    margin-right: 4px;
  }

  &__description {
    margin: 0;
    line-height: 16px;
    color: color(var(--color-secondary) alpha(70%));
  }
}
