@import '../../../vendor/styles/variables.css';

.rr {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 12px;
  background-color: var(--color-sandy-beach);

  &__icon {
    margin-right: 8px;
  }
}
