@import '../../../vendor/styles/variables.css';

.ssrf {
  &__links {
    &__title {
      color: var(--color-secondary);
      font-weight: 500;
      text-transform: uppercase;
    }

    &__item {
      color: var(--color-link);
      margin: 16px 0;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}
