@import '../../../vendor/styles/variables.css';

.rsp {
  padding: 52px;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  height: 100%;

  &__image {
    margin: 16px auto;
    height: 100px;
  }

  &__heading {
    margin-bottom: 16px;
  }

  &__action {
    margin-top: auto;
  }
}
