@import '../../vendor/styles/variables.css';

.sd {
  margin-bottom: 1.2rem;

  &__cont {
    color: var(--color-governor-bay);
    position: relative;
    margin: 0;
    padding: 16px 0 16px 16px;
    height: 4.8rem;
    background-color: var(--color-selago);
    border-radius: 2px;
    border: solid 0.5px var(--color-governor-bay);
  }

  &__title {
    position: relative;

    &::before {
      display: inline-block;
      width: 24px;
      height: 24px;
      content: "";
      background: url('https://images.treebohotels.com/images/hotrod/group-17.svg') no-repeat 0 0;
      background-size: 100%;
      position: absolute;
      top: -4px;
      left: 4px;
    }

    &__text {
      color: var(--color-governor-bay);
      font-weight: 500;
      font-size: 1.4rem;
      font-family: var(--font-secondary);
      margin-left: 32px;
    }
  }

  &__unlock {
    background-color: var(--color-link);
    color: #fff;
    width: 7.2rem;
    height: 3.2rem;
    border-radius: 3px;
    font-size: 1.2rem;
    padding: 0.4rem;

    &:hover {
      background-color: var(--color-governor-bay);
    }
  }

  &__close {
    cursor: pointer;
    padding: 0.8rem 0 0.8rem 0.8rem;
    font-weight: 300;
    font-family: var(--font-secondary);
  }
}
