@import '../../vendor/styles/variables.css';

.sd-tag {
  display: inline;
  color: var(--color-governor-bay);
  padding: 0.4rem 1.2rem;
  font-weight: bold;
  margin: 0;

  &__text {
    margin-left: 0.8rem;
  }

  &__img {
    width: 1.6rem;
    height: 1.6rem;
  }
}
