@import '../../vendor/styles/variables.css';

.tooltip {
  display: block;
  position: absolute;
  z-index: 99;
  opacity: 0.8;
  margin-top: 4px;

  &__content {
    background: #000;
    padding: 2.4rem 1.6rem;
    color: #fff;
    text-align: center;
    display: block;
  }

  &__arrow {
    width: 0;
    margin-left: 1rem;
    margin-top: -0.8rem;
    border-bottom: 0.6rem solid #000;
    border-left: 0.6rem solid transparent;
    border-right: 0.6rem solid transparent;
  }

}
