@import '../../../vendor/styles/variables.css';

.customer-review {
  padding: 4rem;
  border-bottom: 0.1rem solid var(--color-quaternary);

  &__image {
    width: 8rem;
    height: 8rem;
    border-radius: 40rem;
  }

  &__name {
    color: var(--color-secondary);
    font-weight: 500;
  }

  &__date {
    color: var(--color-tertiary);
  }

  &__detail {
    padding-left: 2.8rem;
  }

  &__header {
    color: var(--color-secondary);
    font-size: 1.6rem;
  }

  &__review {
    color: var(--color-secondary);
    padding: 0.8rem 0;
    line-height: 1.6rem;
  }

  &__response {
    background: var(--color-quinary);
    padding: 1.6rem;
  }

  &__response-header {
    color: var(--color-secondary);
  }

  &__response-text {
    color: var(--color-secondary);
    white-space: pre-wrap;
  }
}
