@import '../../../vendor/styles/variables.css';

.si {
  position: relative;

  &__input {
    width: 100%;
    font-size: 1.8rem;
    margin-bottom: 8px;

    @media (--medium-screen) {
      font-size: 2.1rem;
    }
  }

  &__suggestions {
    overflow-y: scroll;
  }

  &__suggestion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;

    &__type {
      text-transform: capitalize;
      margin-left: 8px;
    }
  }

  &__loader {
    position: absolute;
    right: 0;
    top: -21px;
    animation: spin 400ms infinite linear;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 2px solid var(--color-quaternary);
    border-right-color: var(--color-tertiary);
    display: inline-block;
  }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
