@import '../../vendor/styles/variables.css';

.faq {
  &__container {
    border-bottom: 1px solid var(--color-quaternary);
    padding: 20px;
  }

  &__title {
    padding-bottom: 16px;
  }

  &__ques {
    font-weight: initial;
  }

  &__ans {
    padding-top: 8px;
  }

  &__ans ul {
    padding: 0 0 8px 24px;
    list-style-type: initial;
  }

  &-link {
    color: var(--color-primary);
    cursor: pointer;
    display: inline;
  }
}
